[2017-01-11 03:05] RZulfikri opened #1 "Upload method"
hi i want ask something, what method used in this upload scheme.? is it only and default using POST method.? how if i want use PUT method.?

thanks.

[2017-01-11 16:29] StevePotter commented on #1
Hi, currently POST is hardcoded.  This could be fixed rather easily:
Change POST to something else: https://github.com/Vydia/react-native-background-upload/blob/master/ios/VydiaRNFileUploader.m#L107

Add setMethod to: https://github.com/Vydia/react-native-background-upload/blob/master/android/src/main/java/com/vydia/UploaderModule.java#L113

If I add the feature, will you be willing to test it for

[2017-01-12 04:23] RZulfikri opened #2 "Android Application force close when add/link component"
I got error after link/add this component to my project, my app always force close when it active. i have no idea with the error, because no error log found. i attach a screenshoot.

my step :
- npm install https://github.com/Vydia/react-native-background-upload.git
- react-native link react-native-background-upload

and i'm not even use the component in my code.
then it try to create new project

[2017-01-12 04:24] RZulfikri commented on #1
@StevePotter  yes of couse thanks.

[2017-01-12 18:01] RZulfikri opened #3 "Android Application Error Response Code 413"
Hi, its me again..
I'm trying your component, and i got this error log

[![Screen Shot 2017-01-13 at 12.57.53 AM.png](https://s28.postimg.org/5tlcvd4yl/Screen_Shot_2017_01_13_at_12_57_53_AM.png)](https://postimg.org/image/xgy29gq55/)

it say, error response code 413. I think thats error from my server. But when i use post man and other react upload method (i try step from this link https://github.

[2017-01-13 20:16] StevePotter commented on #1
@RZulfikri great I'll get it done soon

[2017-01-24 15:52] StevePotter commented on #2
@RZulfikri what version of RN are you using?  Can you try running the project from Android Studio?

[2017-01-24 15:59] StevePotter commented on #3
The code looks fine.  Can you see exactly what headers are being included when you use an alternative upload method?  Have you tried iOS?

[2017-01-24 15:59] StevePotter commented on #1
@RZulfikri it's done in version 0.1

[2017-01-24 15:59] #1 closed

[2017-02-01 14:55] SebT opened #7 "[Help wanted] Convert to file:// path"
Hi,

It is specified in the README that we can only upload files with a path starting with `file://`.

I'm using react-native-camera to record a video that I want to upload and the path returned starts with `assets-library://` on iOS. I've been searching but I haven't found any way to convert this path to a `file://` path.

I come from cordova and I used to call `resolveLocalFileSystemURL(assetLib

[2017-02-02 09:10] SebT opened #8 "Android can't find file:///storage/emulated"
Hi,

On android I have an error when trying to upload a file created with react-native-camera:
`Upload error! Error: Could not find file at path: file://storage/emulated/0/Movies/VID_20170202_094146.mp4 the path `

Any idea ?

[2017-02-07 17:54] StevePotter commented on #7
Hey @SebT this currently isn't possible in our library.  It is possible in another one https://github.com/booxood/react-native-file-upload/blob/master/FileUpload.m#L78 but that library doesn't support many of the features this one does.

I want to support asset library files but as you can see from the code, it's a pretty major undertaking.  Please keep watching us and one of these days I'll imple

[2017-02-07 17:56] StevePotter commented on #8
Apparently this is a problem in the library, as it only supports files created in a certain way.  It would be great if you could create a sample app for me to test on

[2017-02-07 17:56] #3 closed

[2017-02-07 17:56] #2 closed

[2017-02-07 17:59] SebT commented on #8
I'll create one when I have time. FYI the path was generated by a video taken with the plugin [https://github.com/lwansbrough/react-native-camera](react-native-camera).

[2017-02-07 18:01] StevePotter opened #9 "No throttling of upload progress"
During upload, many many progress events can be updated, and this can result in a choppy UI.  This could be bypassed with some effort on the app side, but really the progress events should be only emitted periodically.

I propose a property progressReportInterval:number, which is the minimum difference in progress % from the previous event.  So if you set this to 1, you will only get updates at 1%

[2017-02-07 18:06] SebT commented on #7
I feel like this is a problem for many react-native developers. There should be a react native library for file system manipulation that would provide utility functions to convert paths.

I don't know Objective-C and I'm not very familiar with the Android SDK so I won't be able to contribute to any react-native library before I learn these first. In the meantime I think I'll post an issue on a FS

[2017-02-07 18:06] #7 closed

[2017-02-08 10:12] SebT commented on #8
Here's the gist for you to test : https://gist.github.com/SebT/2a87a7c902842a812ef47775cc28bc32

[2017-02-09 03:25] StevePotter commented on #8
Thanks @SebT I'll check it out

[2017-02-09 08:36] ox-michaelradionov commented on #8
This error also appeared for me and I also use react-native-camera, but I was able to get rid of it by truncating `file://` protocol from the beginning of the file path.

For example if you have:

[code]

it should become

[code]

[2017-02-09 12:05] SebT commented on #8
Hmm. I'll test this. But the README says :

So I guess we should patch the code to accept this kind of path when it starts with 'file://'

[2017-02-09 14:09] TSMMark commented on #9
I'm not convinced percentage-based customization is the solution. for large files, it makes sense, but what about small files? For example, uploading a small image should only take a few seconds (for easy math, let's say 2 seconds), if you have progress events configured to 1%, you'll get 50 progress events triggered per second. It seems like perhaps in addition to a percent-based config, there sh

[2017-02-09 14:13] TSMMark commented on #8
@ox-michaelradionov I noticed there are three consecutive slashes in your URI (2 in the protocol, 1 leading in the path). if you kill the leading slash and only use the slashes in the `file://` protocol `file://storage/emulated/0/Movies/VID_20170202_094146.mp4` do you get positive results?

[2017-02-09 14:30] ox-michaelradionov commented on #8
@TSMMark , no, it fails with two slashes as well (`file://`)

[2017-02-10 19:45] StevePotter commented on #9
Mark I like your idea.  Easy to implement.

[2017-02-17 18:17] phuongluu98 opened #13 "IOS: Upload with file:// error"
Hi there,

I have params on header like this:

var path = "/var/mobile/Containers/Data/Application/Documents/Video.mp4";
var options = {
            url           : "http://upload.........",
            path        :  'file://'+path,
            method   : 'POST',
            headers  : {
                    'Accept'    : 'application/json'
                },
            files : [{

[2017-02-27 22:34] StevePotter opened #14 "Android MIME type doesn't work for capitalized extensions"
video.MOV won't work on android.  Need lowercase mov

[2017-02-28 04:46] akotlov commented on #8
I also had the same error when I was using a path generated by react-native-camera (on android)-"file:///storage/emulated/0/Pictures/VID_20170227_203358.mp4".

I truncated the path to "storage/emulated/0/Pictures/VID_20170227_203358.mp4" and the error was gone.

let path = "file:///storage/emulated/0/Pictures/VID_20170227_203358.mp4"
path.substring(path.indexOf('s'))

[2017-02-28 16:02] flunder opened #15 "Package.json Peer Dependencies"
Just wanted to point this out... The react-native peer-dependency has caused me some issues installing.

  "peerDependencies": {
    "react": "*",
    "react-native": ">=0.39.0 <0.30.0"
  },

[2017-03-01 03:17] StevePotter commented on #8
@ox-michaelradionov and @akotlov I'll have to look into this further.  So @akotlov you're saying we should remove the file:// protocol from the front?

[2017-03-01 03:17] StevePotter commented on #14
Fixed

[2017-03-01 03:17] #14 closed

[2017-03-01 03:26] StevePotter opened #16 "No Test Project"
It would be great to see a test project for this package.  Right now everyone is testing on different backends and apps.

The app will simply let you choose and upload a file.

The backend can be a basic Express app that has a single route for uploading a file.  It can just save the file to /tmp.

Any ideas here before I implement it?

[2017-03-02 06:09] jjhesk opened #17 "assets-library support"
Im new to object-c and RN. I really wish that `assets-library://` can be supported in the upcoming version. I did some research and it came up with [some discussions](http://stackoverflow.com/questions/31548925/how-to-access-image-from-native-uri-assets-library-in-cordova-for-ios) and [here](http://stackoverflow.com/questions/3837115/display-image-from-url-retrieved-from-alasset-in-iphone) about h

[2017-03-02 19:20] akotlov commented on #8
@StevePotter I think so.I looked at "Android upload service" library source and seems like that what the library author decided to do.
![screenshot_20170301-145509](https://cloud.githubusercontent.com/assets/901548/23523051/1683558a-ff3a-11e6-8526-2f8ef7cab999.png)

[2017-03-02 22:30] StevePotter commented on #17
Hi @jjhesk thanks for writing.  We have already discussed this and we are open to it.  It's just a tricky implementation, as you can see from https://github.com/aroth/react-native-uploader.  I plan on doing it one day but would be delighted if someone else did it sooner.

[2017-03-02 22:30] #17 closed

[2017-03-02 22:30] StevePotter commented on #15
Thanks, will fix

[2017-03-02 22:31] StevePotter commented on #15
Fixed in 0.1.4

[2017-03-02 22:31] #15 closed

[2017-03-02 22:33] StevePotter opened #18 "React Native 0.40+"
A change in RN 0.40 makes bridges backwards incompatible.  We will be upgrading to RN 0.40 at some point in the next month or two and will likely upgrade this package.  It has to happen.  At that point we'll do a major version bump.

I ask everyone: what version of RN are you on?  Do you plan to upgrade, and if so, when?

[2017-03-04 01:37] thatjuan commented on #18
Keeping up with the latest, pretty much. 0.42 right now.

Any details on what the incompatible change was?

(thanks for this package, by the way)

[2017-03-07 18:50] akotlov commented on #18
@StevePotter I am using "react-native-background-upload" v0.1.3
I just upgraded my project from RN 0.36.0 to RN 0.42.0 using "npm install -g react-native-git-upgrade" tool.
I haven't noticed any breaking changes in my code related to "react-native-background-upload".

Thank you for the package!

[2017-03-09 07:52] valinaga commented on #18
I started a brand new project with RN: 0.42. I experienced some issues with upload on android with files from react-native-image-picker. Although the images start with file:// none can be uploaded.
`Upload error! Error: Could not find file at path: file:///storage/emulated/0/Android/data/com.appcenter.wishbox/files/Pictures/image-fb7c4eb9-b86a-4b34-953a-ea443a2c3b4b.jpg`
Any idea?
Thanks.

[2017-03-09 19:52] TSMMark commented on #18
@valinaga #8 sounds related, maybe useful for you, or to post your findings.

[2017-03-10 15:32] ox-michaelradionov commented on #18
I am using 0.39 and will be upgrading sooner or later. I'm usually waiting for 2-3 of new RN versions to release and then upgrade to the latest one, but that 0.40 was had a pretty big breaking change were all the libs become broken, so I've decided to wait until most of the libs will be fixed to work with 0.40+ in their original repos. It look like everything settled down a bit, so I am ready to u

[2017-03-10 15:55] StevePotter commented on #18
Thanks Michael.  We are currently on .39 as well, which is why I haven't
upgraded the repo yet.  Soon though I will.  Thanks!

On Fri, Mar 10, 2017 at 10:32 AM, Michael Radionov <notifications@github.com

--
Stephen Potter,
Developer @ Vydia.com

[2017-03-17 18:03] eard7 commented on #16
First of all thank you so much for your hard work. I would appreciate if you could explain how to get the file in the backend? I mean, i have a nodejs express server, but i can't see the file uploaded. I should get it as a file or as a body param? What param key should i use to access the uploaded file? Thanks in advance!

[2017-03-20 10:10] vault13tech commented on #18
use RN 0.4x currently, hope this project will soon upgrade to compatiable the version >= RN0.40.
thanks a lot!

[2017-03-20 14:52] StevePotter commented on #16
Hi @eard7 we use a Ruby app but it's probably part of req.files.  You might need some middleware.  It's been a long time since I did a request app, which is selfishly part of the reason I wanted to make the example app.

[2017-03-20 14:52] #16 closed

[2017-03-27 19:08] chuckhacker commented on #18
Any updates??? Also looking to use this with 0.42.3 now.

+1

[2017-03-27 19:14] chuckhacker commented on #18
I've forked this and am in the process of fixing it, will be submitting a PR soon.

[2017-03-27 20:00] StevePotter commented on #18
@chuckhacker thanks but no need, I just did it.  I bumped the major version to 1.0.0 so upgrade your npm and you'll have it.  Thanks again!

[2017-03-27 20:00] #18 closed

[2017-03-31 02:55] skyworld opened #20 "If I want to upload a file just like html from, How can I config the from name ?"
If I want to upload a file just like html from, How can I config the from name ?

[2017-04-05 08:15] thatjuan opened #21 "1.0.0 fails to install on RN 0.42.3"
As per #18, 1.0.0 should support RN 0.40+

However, when trying to install it I get

`npm WARN react-native-background-upload@1.0.0 requires a peer of react-native@>=0.30.0 <0.39.0 but none was installed.`

The reason appears to be:

https://github.com/Vydia/react-native-background-upload/blob/master/package.json#L22

I just sent in a PR to correct this. https://github.com/Vydia/react-native-backg

[2017-04-08 08:36] nonotest opened #23 "responseBody on IOS"
Hello,
I have tried a few workarounds to try and get a response body on IOS but to no avail.
My use case is the server is sending the URL back after the upload as a JSON string.

If anyone has any idea or knows what to do?

I tried to add a `didReceiveData:(NSData *)receivedData` delegate but no luck.

Cheers,

[2017-04-08 09:11] nonotest commented on #20
If you have control over the backend you can do something like this:

const fileName = `${Date.now()}_${image.fileName}`
    const options = {
      url: UPLOAD_URL,
      path: image.uri,
      method: 'POST',
      // Below are options only supported on Android
      notification: {
        enabled: true
      },
      // FIXME..
      headers: {
       'X-File-Name': fileName
     },
    }

and

[2017-04-19 10:22] chrisharrison commented on #23
I have the same use case.

[2017-04-19 15:56] chrisharrison commented on #23
@nonotest I've managed to get the responseBody working on iOS.

PR is here:
https://github.com/Vydia/react-native-background-upload/pull/24

Please note that it does not support automatically decoding a JSON response. So you'll have to do that with something like `JSON.parse()` on the Javascript side.

[2017-04-19 19:52] nonotest commented on #23
Wow well done thanks ! I'll have a look tomorrow.

On Wed, 19 Apr 2017 at 11:56 pm, Chris Harrison <notifications@github.com>
wrote:

[2017-04-20 15:20] redwind opened #25 "is it support stop or pause ?"
Hi @StevePotter !
Many thanks to you for this library.
is it support for cancel or pause upload feature ?

thanks !

[2017-04-24 16:52] tslater opened #26 "Listeners for backgrounded events"
First off, awesome work!

I had a question about the event listeners. Will they fire if the event (progress, error, completion) is an event that happens in the background, when the app isn't running?
If so, will they wake up the app? Or will they just fire the next time the app runs?

Or do they only work if the event fires while the app is running? If that is the case, is there a way to ask for e

[2017-04-26 18:32] StevePotter commented on #26
Hi, I never tested completely with that so I don't have an answer.  You could put in some logging code to check that one if you want.  The answer is probably a very long "it depends"

[2017-04-26 18:33] StevePotter commented on #25
No @redwind it doesn't support that yet.  Is that something you need?

[2017-04-26 18:33] #25 closed

[2017-04-26 18:34] StevePotter commented on #23
Hey all, why do you need this?  I'm trying to understand the use case.

[2017-04-26 19:08] chrisharrison commented on #23
1. The use case is uploading a large image to an image service where the
response is the ID of the newly stored image.

2. Android supports responseBody so why would you want to continue with a
discrenpency between iOS and Android?

On 26 Apr 2017 19:34, "Stephen Potter" <notifications@github.com> wrote:

[2017-04-27 07:27] nonotest commented on #23
Yep above post sums it up.

If you need to re-use the URL of the uploaded image anywhere else in the app you will need to get it from the response body.

For example you have a chat, you upload an image to a cloud storage, you need to be able to post the URL back to all the connected clients or whatever.

[2017-04-27 13:42] StevePotter commented on #23
Thanks guys.  I'll get the PR in today and publish to npm.

[2017-04-27 13:42] #23 closed

[2017-04-27 14:29] StevePotter commented on #21
@thatjuan thanks.  Fixed and published in npm as v1.1.  Thanks!

[2017-04-27 14:29] #21 closed

[2017-04-28 15:45] StevePotter commented on #13
Do you get any messages?

[2017-04-28 15:45] #13 closed

[2017-04-28 15:45] #26 closed

[2017-05-08 15:46] StevePotter commented on #20
@nonotest responseBody works now on iOS.  Enjoy

[2017-05-08 15:46] #20 closed

[2017-05-08 15:46] #9 closed

[2017-05-14 05:43] metallurgical commented on #16
@eard7 you did know now what params? i too facing this issues

[2017-06-02 15:59] valinaga opened #32 "Issue uploading file: IOS + Android"
Hi,

I just upgraded to 3.0.0-beta and now the files doesn't seems to get to the server.
If I use in the headers `'Content-Type': 'x-www-form-urlencoded',` or nothing at all, the data does not get to the server, although the component shows the progress and completion correctly.
If I add `'Content-Type': 'multipart/form-data'` to headers, then I get an error on the server:
`Unexpected error while

[2017-06-13 07:22] Sandobaggu opened #33 "Complications with POST request"
Hello,

My colleagues and I are trying to upload videos with react-native-background-upload, but although we can see the progression of the file being uploaded, our API receives a request without the video file or any body.

Does your library supports sending requests with body? Is there a way to send a request with the videos on body instead of using path? Which key can we use to retrieve the vid

[2017-06-13 14:00] valinaga commented on #33
same issue reported here. [https://github.com/Vydia/react-native-background-upload/issues/32](https://github.com/Vydia/react-native-background-upload/issues/32)
affect both ios and android.

[2017-06-13 16:37] StevePotter commented on #32
Hi, I'm looking into it but won't be able to do much until this Thursday June 15.  I would really appreciate any code you could share.  In the meantime, maybe consider downgrading to a previous version that worked for you.

[2017-06-13 16:37] StevePotter commented on #33
Hi, I'm looking into it but won't be able to do much until this Thursday June 15.  I would really appreciate any code you could share.  In the meantime, maybe consider downgrading to a previous version that worked for you.

[2017-06-14 13:29] valinaga commented on #33
@StevePotter looks like even 1.1.0 is not working on both IOS and Android. Maybe you can do something tomorrow (15 June).
Thanks

[2017-06-14 13:58] StevePotter commented on #33
Am I correct that the version of the library that used to work for you no
longer works?  Did you upgrade another package?  I'd like to be able to
reproduce the error.  Can you share your package.json, or at least the
dependencies?

On Wed, Jun 14, 2017 at 9:29 AM, valinaga <notifications@github.com> wrote:

--
Stephen Potter,
Developer @ Vydia.com

[2017-06-14 14:43] valinaga commented on #33
I really don't recall which version worked. And yes, I upgraded the rn to 0.44 and then 0.45.
Sorry I cannot help more.
Here's the package.json

  "dependencies": {
    "apisauce": "0.11.0",
    "camelcase-keys": "^4.1.0",
    "format-json": "1.0.3",
    "lodash": "4.17.4",
    "querystringify": "1.0.0",
    "ramda": "0.23.0",
    "react": "16.0.0-alpha.12",
    "react-native": "0.45.1",
    "reac

[2017-06-20 06:33] valinaga commented on #33
@StevePotter Hi,
Do you have an update on this? I'm quite pressed and I need to take a call should I use this component or move to react-native-fetch-blob. Although not as elegant as this, at least it's doing the upload job.
Thanks

[2017-06-20 15:06] StevePotter commented on #33
@valinaga sorry you are having trouble.  I've tested and it works just fine.  I will be posting a sample app with a server example.  Maybe there's something that needs to change on your server end.

As far as using another package, do whatever works for you.  I've been frustrated by packages many times in the past.  In fact that's what led to this uploader.  Do you have native development skills?

[2017-06-21 06:59] valinaga commented on #33
@StevePotter Hi,

Couldn't wait to see the server sample. It would be great to have the fix there.
Unfortunately my native development skills are not great. I'm ok in Java and Swift but not in Objective C.
I would like to talk to you and sort this thing out. My timezone is UTC+2 (Bucharest, Romania).
My skype is vali172.
Thanks.

[2017-06-21 17:48] valinaga commented on #33
@StevePotter, @Sandobaggu
So the problem is at the server side. Since the upload is not multipart/form-data the info about the file won't be available in the POST params.
Therefore, in order to read the file content one need to read from request RAW_POST_DATA or request body.
However, it might be a good practice to add multipart/form-data support.
Thanks for support and hope this helped.

[2017-06-22 19:02] TSMMark commented on #33
Hi @valinaga @Sandobaggu, I'm working on a minimal react native app + express server to act as a functional example for this package. I should have some time tonight to finish it up, and I'll let you know as soon as it's ready. Cheers!

[2017-07-04 14:26] ox-michaelradionov commented on #32
We had that same error on iOS a while ago with 0.1.2 version of the module. Solution was to set a header:
[code]

The problem is in Ruby on Rails middleware - [rack](https://github.com/rack/rack).
It treats both `application/x-www-form-urlencoded` and `multipart/form-data` like a form data (see [here](https://github.com/rack/rack/blob/cabaa58fe6ac355623746e287475af88c9395d66/lib/rack/request.rb#L1

[2017-07-20 11:47] itinance opened #37 "Unable to build on Android with RN 0.45.1: AAPT: Error retrieving parent for item:"
On android with react native 0.45.1 this library can't be build and throws the following errors:

[code]

Steps to reproduce:

[code]

With react-native 0.42 this is not an issue.

Some hints about it: i am not that familiar with android native but from some people i've heard that it can have do something with buildToolsVersion.

[2017-07-20 11:50] itinance commented on #37
Upgrading the buildToolVersion in my example application will solve this issue, but continues then with:

Cause: com.android.dex.DexException: Multiple dex files define Lokhttp3/internal/ws/WebSocketReader$FrameCallback;
    UNEXPECTED TOP-LEVEL EXCEPTION:
    com.android.dex.DexException: Multiple dex files define Lokhttp3/internal/ws/WebSocketReader$FrameCallback;

Maybe we should add some hints

[2017-07-29 05:41] yctung opened #38 "Why sdk 25 is necessary?"
Is it possible to use sdk 23 or lower instead?

[2017-08-09 08:24] binitpatel opened #40 "method does not override or implement a method from a supertype"
node_modules\react-native-background-upload\android\src\main\java\com\vydia\UploaderReactPackage.java:23: error: method does not override or implement a method from a supertype
  @Override
  ^
3 errors
Incremental compilation of 1 classes completed in 0.556 secs.
:react-native-background-upload:compileReleaseJavaWithJavac FAILED

FAILURE: Build failed with an exception.

[2017-08-11 14:48] StevePotter commented on #40
Thanks, I think this is a bug with the latest React Native.  What version of RN do you have?

[2017-08-11 15:44] ovr commented on #40
It's a break change inside `RN 0.47`

refs https://github.com/Vydia/react-native-background-upload/pull/39

Thank

[2017-09-05 14:15] StevePotter commented on #38
This is because the package uses a 3rd party package for uploading - http://gotev.github.io/android-upload-service and that requires min sdk of 25.  So it's a dependency thing that's mostly out of our control.  Keep in mind you can still use `minSdkVersion 16` in your build.gradle.

[2017-09-05 14:15] #38 closed

[2017-09-05 14:37] StevePotter commented on #40
Fixed in 4.0.0.  Thanks everyone!

[2017-09-05 14:37] #40 closed

[2017-09-08 17:21] sampurcell93 opened #42 "License type?"
Hi, I notice that there is no license in the repo - what's the deal with the use of the package?

Thanks!

[2017-09-08 18:54] TSMMark commented on #42
@sampurcell93 MIT. Thanks for pointing that out!

[2017-09-08 18:54] #42 closed

[2017-09-12 07:08] napatwongchr opened #44 "Is it feasible to return status for each upload ID ?"

[2017-09-29 03:49] RZulfikri opened #45 "[Question] Does it support extra parameter data ?"
Hi, i'd like to ask. Does this component support for upload file with extra value like form data ?

[2017-09-29 13:46] TSMMark commented on #45
Your best bet right now is to use a header. See [*Usage*](https://github.com/Vydia/react-native-background-upload#usage) in readme. You may be interested in #36.

[2017-09-29 14:59] #45 closed

[2017-10-12 14:43] devLaaziz commented on #37
:( me too

[2017-10-26 18:11] rad182 commented on #33
+1 for multipart/form-data support

[2017-10-26 18:12] StevePotter commented on #33
@rad182 it's now supported.  check out the latest release.  sample app has been updated as wel

[2017-10-26 18:12] #33 closed

[2017-10-26 18:16] rad182 commented on #33
@StevePotter thanks for the quick response. Sorry but I don't see any parameters where I can pass multiple form fields/data?
For what I understand
[code]
this field is the name of the file right?

[2017-11-03 03:49] ducpt2 commented on #33
@StevePotter Can i understand it like this:
body: formData  == field: 'uploaded_media
Can you explain how to add body request please?
Thank you.

[2017-11-03 09:03] hamxabaig opened #47 "Base64 support ?"
Hey, Thanks for this great library, works perfectly. I just wanted to ask if this will work with base64 string ?

Thanks

[2017-11-04 07:26] kumarnitishraj opened #48 "How to send some data with Video ?"
Hey,
I want to send some info like device token along with Video
How can i do?

[2017-11-04 12:40] kaelumania opened #49 "Handling iOS Background Activity"
When I do understand the [docs](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/URLLoadingSystem/Articles/UsingNSURLSession.html) correctly (section **Handling iOS Background Activity**), we should add the proposed handling, to get the right callbacks for upload completion. I am not 100% sure what the implications are and what is required.

Some more resources:
https://d

[2017-11-04 20:02] TSMMark commented on #48
Hi @kumarnitishraj support coming soon with #46. Feel free to try out that branch

[2017-11-04 20:02] #48 closed

[2017-11-04 20:05] TSMMark commented on #49
Hey @kaelumania a PR would be welcome :-)

[2017-11-04 21:22] kaelumania commented on #49
Yeah, bur as already mentioned. I am not sure what to do. If its really required. Fir example, the nsurlsession ist not released, thus recreation might not be necessary. Further the design would change, as it might require 1 session per upload task. I guess. But adain, I am not completely sure.

[2017-11-21 15:29] chilic commented on #37
It's from readme.

[2017-11-22 17:15] 6ewis opened #50 "How to listen to bytesWritten, and totalbytesExpectedToWrite?"
Are those events being sent?

[code]

[2017-12-04 07:51] kaelumania opened #52 "Module VydiaRNFileUploader requires main queue setup ..."
`Module VydiaRNFileUploader requires main queue setup since it overrides `init` but doesn't implement `requiresMainQueueSetup. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.`

[2017-12-17 20:20] pablote commented on #37
The readme mentions this in the `Manual Native Library Linking` section, which you probably skip if you do automatic linking.

[2018-01-02 21:37] adam-denny opened #53 "Video uploads larger than ~100MB fail on iOS"
I keep running into this issue on iOS when uploading a video. Videos of any size longer than about 100mb consistently fail, with the message "Lost connection to background transfer service". Under that size they seem to work fine, but larger files fail before getting to the progress phase.

[2018-01-02 21:46] TSMMark commented on #53
Hi, please make sure your server is configured to support file uploads larger than the size you mentioned

[2018-01-02 21:46] #53 closed

[2018-01-02 22:37] adam-denny commented on #53
It is, uploads > 2GB are supported on the web platform and succeed just fine. Non-background uploads > 100MB succeed using other packages (such as react-native-fetch-blob) also succeed but don't work in the background. This is definitely not a server-side issue.

[2018-01-02 22:58] psyon opened #54 "Chunked uploads"
Are there any plans to implement chunked uploads?  My site runs through Cloudflare, so uploads are restricted to 100MB in size.  I've worked around this with the website uploads by using chunked uploads, so that only a few megabytes are sent in each chunk.  It also allows the file to be resumed.

[2018-01-02 23:26] TSMMark commented on #53
possibly related to #54?

[2018-01-02 23:27] TSMMark commented on #54
no plans but PRs welcome ;)

[2018-01-02 23:48] psyon commented on #54
I am new to react-native, so not sure if I can do the changes needed, but ill give it a shot.

[2018-01-03 07:01] mlasy commented on #53
not a solution, but maybe a workaround: i had the same issue, what i did was to reduce the videoquality. 100mb of recorded video are very large and consumes the mobile data of the user in no time.
(you're using react-native-camera? -> captureQuality: Camera.constants.CaptureQuality.low).

[2018-01-06 02:08] laurindo commented on #37
I´ve resolved change my build.gradle inside android/build.gradle changing:
old:
android: {
compileSdkVersion 23
buildToolsVersion "23.0.1"
...
}

dependencies: {
compile "com.android.support:appcompat-v7:23.0.1"
...
}

to
android: {
compileSdkVersion 24
buildToolsVersion "24.0.1"
...
}

dependencies: {
compile "com.android.support:appcompat-v7:24.0.1"
...
}

[2018-01-09 18:57] awadesmoline opened #55 "How to upload to S3 bucket?"
Hi,
Is there a way to upload to S3 bucket?

I tried it like this and got the following error:

[code]

and i got this error:
[code]

[2018-01-10 14:50] AlfredOdling commented on #52
same

[2018-01-10 16:40] AlfredOdling opened #56 "Upload error! Error: NSInvalidArgumentException"
Hi! I am trying to convert from an iOS camera roll asset to the file asset format of "file://.."

An image uri would be:
"assets-library://asset/asset.JPG?id=A19B54F5-367B-4992-B647-AF7705338124&ext=JPG"

I then use RNFetchBlob.wrap() and gets:
"RNFetchBlob-file://assets-library://asset/asset.JPG?id=BF29BC40-EBAB-43FD-A451-B2AC21842DD8&ext=JPG"

That didn't work so I sliced out the "RNFetchBlob-"

[2018-01-22 13:48] radreamer commented on #56
Same issue

[2018-01-22 17:53] buskerone opened #57 "Unsupported scheme (Android)"
I got the error - only on Android - : Unsupported scheme: file:///storage/emulated/0/Android/data/com.nnn.android.client/files/Pictures/image-9ed429ce-5b06-4f04-816a-c278e5da33d4.jpg

v4.1.0
react-native-cli: 2.0.1
react-native: 0.51.0

`
const options = {
      url: url,
      path: path,
      method: 'PUT',
      headers: {
        JWT: openIdToken,
      },
      // Below are options only supp

[2018-01-25 09:16] buskerone commented on #57
If anyone has the same issue it's because of this:
https://github.com/gotev/android-upload-service/blob/80f425610ea2a12830c8e32804a3d6ae2928936f/uploadservice/src/main/java/net/gotev/uploadservice/schemehandlers/SchemeHandlerFactory.java

line: 23
`private SchemeHandlerFactory() {
        handlers.put("/", FileSchemeHandler.class);
        handlers.put("content://", ContentSchemeHandler.class);
}`

[2018-01-25 14:51] TSMMark commented on #57
Please check out the example app we have provided and see if that helps you

https://github.com/Vydia/ReactNativeBackgroundUploadExample/blob/master/js/components/Upload.js#L90

[code]

[2018-01-25 14:51] #57 closed

[2018-01-30 13:20] harshsrivastavaglobussoft opened #58 "Cannot Read Property 'startUpload' of undefined"
![screenshot at jan 30 18-51-44](https://user-images.githubusercontent.com/24026483/35568349-ab6a94cc-05ee-11e8-8b26-8bebdf86a67f.png)

 Trying to upload a video with two more parameters

Details:-
    "react": "16.2.0",
    "react-native": "0.52.0",
    "react-native-background-upload": "^4.1.0",

     uploadVideo =()=>{
         let formData = new FormData();
           formData.append("host_id"

[2018-01-30 19:51] StevePotter commented on #58
Hey @harshsrivastavaglobussoft it looks like there is a problem importing.  Can you paste the whole file, or at least the relevant pieces with your import up top?

[2018-01-31 16:40] StevePotter commented on #58
Package name is misspelled.  You have `'reiact-native-background-upload'` and it should be `'react-native-background-upload'`.

[2018-01-31 18:30] #58 closed

[2018-02-01 20:58] dtuite opened #59 "Fatal exception. Bad notification for startForeground."
This exception occurs in SDK 27 (Android 8.1) but not in lower SDK versions.

[code]

Turning off notifications prevents the exception from occurring.

[code]

The issue appears to be fairly common and widely document for other libraries. I believe [this is the same issue on SO](https://stackoverflow.com/questions/47531742/startforeground-fail-after-upgrade-to-android-8-1).

I don't have a reprodu

[2018-02-01 22:13] TSMMark commented on #59
Thanks for the report @dtuite. Do you think you could submit a PR?

[2018-02-01 22:35] dtuite commented on #59
I just had a look at the Java files you have in here and honestly I doubt I can. I don't know any Java or anything about native android libraries really so it would probably take me weeks to learn and follow through all the docs. If I could see a simple way to modify `UploaderModule.java` to look more like that in the SO answer I linked to I'd do it but that doesn't seem to be the case.

[2018-02-02 03:38] TSMMark commented on #59
@dtuite I talked with the team and we don't have the bandwidth to prioritize diagnosing and fixing this exception at the moment; however, if `notification: { enabled: false }` really does fix the issue, we would be happy to accept a PR that simply adds this clause to the documentation!

[2018-02-02 04:09] dtuite commented on #59
Ready for review.

[2018-02-02 12:41] abhirajevolvier commented on #56
@AlfredOdling did you found any solution for that. Thanks.

[2018-02-02 14:28] StevePotter commented on #56
@AlfredOdling thanks for reporting this.  I've never attempted what you're describing.  I would be happy to get it working.  All I ask from you is a sample project to work off.

Can you provide a sample app for me to use?  The best thing would be to fork https://github.com/Vydia/ReactNativeBackgroundUploadExample and integrate RNFetchBlob into it.  Then I can make the fix quickly.  Thanks!

[2018-02-02 14:29] #59 closed

[2018-02-02 14:31] StevePotter commented on #52
Hey, thanks.  For now you can ignore that message.  I'll add a fix to the package.

[2018-02-02 15:58] StevePotter commented on #56
@AlfredOdling would it be easiest if react-native-background-upload just supported `asset-library://' directly?  If so, perhaps we should just focus on that.

[2018-02-02 18:30] StevePotter commented on #52
Done in https://github.com/Vydia/react-native-background-upload/pull/61
Published just now to npm version 4.2.0

[2018-02-02 18:30] #52 closed

[2018-02-02 19:42] StevePotter commented on #49
@kaelumania thanks for writing.  Can you help me understand what the problem is with the package currently?  The iOS module already implements `URLSession:task:didCompleteWithError:`, which notifies you when an upload task has finished (with or without error).  As far as I know it's correct already.

[2018-02-02 19:42] #49 closed

[2018-02-03 04:09] abhirajevolvier commented on #56
Here is my code snippet which shows the same error.

Code:

  imageUpload = (image) =>{
    console.log(image.path)
    // /Users/EvolvierTechnologies/Library/Developer/CoreSimulator/Devices/88508649-4AAF-4096-80D8-94D4CDC7D5C1/data/Containers/Data/Application/23F21D39-9462-47D3-95AE-B488A5ACA8C7/tmp/react-native-image-crop-picker/0DC833CD-53B0-46BA-9020-78BF70E4CA95.jpg

    const options = {

[2018-02-03 11:19] AlfredOdling commented on #56
@StevePotter Yes that is the behavior I would have wanted, thank you!

[2018-02-05 02:17] waterstar commented on #56
Same issue, any solution.

[2018-02-05 20:55] StevePotter commented on #56
@AlfredOdling @waterstar no solution yet, although I will be personally adding that functionality into the next release of the package.  @TSMMark and I work on it in our spare time so I can't promise an exact date.  I'm going to close this issue but you have my word that the problem will be fixed in the next release.

@AlfredOdling @waterstar what are you uploading?  Videos, photos, both?

[2018-02-05 20:55] #56 closed

[2018-02-05 20:56] StevePotter commented on #8
@akotlov did you end up with a workaround?  Should we have the library drop the 'file://' prefix in Android?

[2018-02-05 20:56] #8 closed

[2018-02-05 20:57] StevePotter commented on #50
@6ewis progress, completed, and error.  Not bytesWriten or bytes expected.  Thanks!

[2018-02-05 20:57] #50 closed

[2018-02-06 05:14] superandrew213 commented on #58
@harshsrivastavaglobussoft how did you get this to work with `formData`?

[2018-02-06 05:17] harshsrivastavaglobussoft commented on #58
@superandrew213 it did not work with `formData` any idea how to add it in this case?

[2018-02-06 05:22] superandrew213 commented on #58
@harshsrivastavaglobussoft I have no idea what `field` is for and how you can use it with `type: 'multipart'`. It must be a string so it can't accept `formData`.

[code]

@StevePotter can you give an example how you can use field?

[2018-02-06 05:28] harshsrivastavaglobussoft commented on #58
@StevePotter I guess you need to convert the object for `field` to JSON String you can use `JSON.stringify()` for that. I am still searching a way to upload video for android

[2018-02-08 15:21] #32 closed

[2018-02-08 15:22] StevePotter commented on #57
@buskerone if you want to add a PR, fixing the url to strip the file:// could be handled in the Java module or in the library (with a Platform check)

[2018-02-08 15:23] StevePotter commented on #56
@AlfredOdling @waterstar the library supports assets-library files now.

[2018-02-08 15:24] StevePotter commented on #17
@jjhesk the library supports `assets-library://` now, thanks

[2018-02-08 23:49] AlfredOdling commented on #56
@StevePotter Awesome, good job.

[2018-02-12 16:50] njt1982 commented on #33
@rad182 / @ducpt2 did you solve this?

[2018-02-12 16:58] rad182 commented on #33
@njt1982 nope... I just gave up on this feature in our app at the moment.

[2018-02-19 10:50] uikolas commented on #26
Event listeners are fired when app is waked up (device turned on, or app opened again). Maybe solutions exist, to fire them when app is in background?

[2018-02-19 14:39] StevePotter commented on #26
@uikolas I think this conversation would be most constructive if we had a sample project to work with.  Could you please provide a project or just fork https://github.com/Vydia/ReactNativeBackgroundUploadExample so I can see exactly what you need and try to debug it?

[2018-02-19 14:42] StevePotter commented on #55
@awadesmoline I haven't done this but from what I see you aren't providing any headers to S3, which would be required if the bucket does not allow public uploads.

Has anyone else uploaded to a private S3 bucket that would be willing to provide instructions in the README or a sample?

[2018-02-19 14:42] #55 closed

[2018-02-19 14:42] #54 closed

[2018-02-19 14:42] #37 closed

[2018-02-19 14:56] uikolas commented on #26
Example has this line: https://github.com/Vydia/ReactNativeBackgroundUploadExample/blob/master/js/components/Upload.js#L54
When i start to upload and turn off device (press power button just to turn the screen) or background app (with home button press). The upload continues in background, but the 'completed' event is only fired, when app is running again (turned on screen or opened app). When app

[2018-02-19 15:25] StevePotter commented on #26
Oh I see.  I can only guess but I would guess this is a limitation of react
native itself.  Why do you need to do this?  If you get the 'completed'
event when your app foregrounds, can't the UI update then?  Why would the
UI need to update in the background?

On Mon, Feb 19, 2018 at 9:56 AM, Arvydas K. <notifications@github.com>
wrote:

--
Stephen Potter,
Developer @ Vydia.com

[2018-02-19 16:54] uikolas commented on #26
Yes, good question. I think i can live with that. Thanks for answer :)

[2018-02-19 22:28] StevePotter commented on #44
Hi, the 'completed' event has the response code and body from the request.  Thanks!

[2018-02-19 22:28] #44 closed

[2018-02-19 22:28] StevePotter commented on #47
Hi @hamxabaig no, this currently doesn't.  What's your use case?  Closing this issue but I'd like to keep discussing it.

[2018-02-19 22:28] #47 closed

[2018-02-20 07:23] hamxabaig commented on #47
@StevePotter I didn't want to save the image first and then upload it. I had access to stream only. So I thought it'd be efficient if I can just use the stream and don't save it in some tmp folder. Thats why

But I don't think so its possible because this package uses `android-upload-service` internally and they don't support it too.

I'm not sure if its even possible but I went with the approach

[2018-02-27 00:36] dashracer opened #63 "[Android] Progress listener not receiving any progress"
Hi, thanks for the library.
I've managed to make it work on iOS but having trouble using the same code in android

This is how I implement the upload code
[code]

Environment
- RN 0.51
- React 16.0.0

Progress listener not working on android.

Really need help

[2018-03-12 14:49] StevePotter commented on #63
Hey @dashracer do the other events work?

[2018-03-12 19:07] L-Yeiser opened #64 "Error "Unfortunately, `app` has stopped""
Adding `react-native-background-upload` to my project causes breaking issue in android. When the app opens a modal pops up with the error `Unfortunately, app has stopped`. I tried running the app on multiple different android phones including an android simulator. The crash is caused by the runtime error `Could not invoke WebSocketModule.connect at com.facebook.react.bridge.JavaMethodWrapper.invok

[2018-03-12 23:10] MrHubble commented on #55
@awadesmoline were you able to upload to S3? If yes, are you willing to share your solution? Thanks.

[2018-03-13 10:59] awadesmoline commented on #55
@MrHubble I was not able to upload with this package. I used `react-native-s3` which also uploads in the background.

[2018-03-13 11:26] TSMMark commented on #55
It should be possible to upload to S3 following their Authenticating Requests: Browser-Based Uploads Using POST (AWS Signature Version 4) documentation here: https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-authentication-HTTPPOST.html

It is a little bit of work to set up, but it should work fine when set up properly.

# Authenticating Requests: Browser-Based Uploads Using POST (AWS Signatur

[2018-03-23 05:53] ankits47b opened #65 "Upload error! Error: type should be string: raw or multipart. In case of Android as well iOS works good.."
Upload error! Error: type should be string: raw or multipart.
    at createErrorFromErrorData (NativeModules.js:123)
    at NativeModules.js:80
    at MessageQueue.__invokeCallback (MessageQueue.js:400)
    at MessageQueue.js:139
    at MessageQueue.__guardSafe (MessageQueue.js:316)
    at MessageQueue.invokeCallbackAndReturnFlushedQueue (MessageQueue.js:138)
    at debuggerWorker.js:72

[2018-03-23 13:08] TSMMark commented on #65
Hello, are you providing the option `type`? Allowed values are either `'raw'` or `'multipart'`. See usage in Readme: https://github.com/Vydia/react-native-background-upload#usage

[2018-03-23 13:11] ankits47b commented on #65
I Resolve this issue passing [code]'raw' in type and my image is uploaded Thanks

[2018-03-23 13:11] ankits47b commented on #65
Works for me passing 'raw' in type

[2018-03-23 13:11] #65 closed

[2018-03-26 15:49] isaachinman opened #66 "Docs regarding linking are misleading"
Found this project recently and was really looking forward to using it. I've encountered a _really_ weird issue though that has prevented me from doing so.

To anyone just opening this issue, I'm sure it will seem like a very common import mistake. However, it's not.

I did `yarn add react-native-background-upload`. Then I just copy/pasted the usage example straight into my application:

    impor

[2018-03-26 16:27] isaachinman commented on #66
Figured this out. The native module was indeed undefined, but for some reason it was not undefined until called. Some weird bridge thing. Here's why:

[The formatting of the main README](https://github.com/Vydia/react-native-background-upload/blob/master/README.md#manual-native-library-linking) makes it seems as though this library only requires linking if you're using RN <0.47. This section shoul

[2018-03-26 17:10] isaachinman commented on #56
@abhirajevolvier Does the code you posted work now that the codebase has been updated? I am running nearly identical code to you, and all my uploads are cancelling immediately with no useful error feedback:

    Cancelled! {id: "10", error: "cancelled", responseBody: null}

[2018-03-26 17:17] isaachinman opened #67 "401 is calling "completed" event"
Just a quick one: in setting up this project in my own app, I noticed that 401 server responses are still triggering the "completed" event. All 4xx responses should presumably call the "error" event, not "completed".

[2018-03-26 19:45] TSMMark commented on #66
You are indeed correct the readme should not have that section as a subheader. PRs defintely welcome!

[2018-03-26 20:15] StevePotter commented on #66
@isaachinman @TSMMark how about this update?  Does that clear up confusion?
https://github.com/Vydia/react-native-background-upload/pull/68

[2018-03-26 20:16] StevePotter commented on #63
@dashracer I haven't heard back so I'm going to close this.  Thanks

[2018-03-26 20:16] #63 closed

[2018-03-26 20:41] StevePotter commented on #66
@isaachinman why does this package need a podspec or header search paths set?

[2018-03-27 06:57] isaachinman commented on #66
Yeah, looks great to me.

So that people using cocoapods can install this package as a dependency... The changes needed are very minimal, see [this commit](https://github.com/Wundershine/react-native-background-upload/commit/e34d94244c05af881ff81477bffe7a44c1909257) on my fork. If you're willing to merge this let me know and I'll create a separate issue.

[2018-03-27 07:53] isaachinman commented on #64
@StevePotter You should remove that from Step 2 in the [Android manual setup](https://github.com/Vydia/react-native-background-upload/blob/master/README.md#android) instructions. It's not clear this is _only_ for v3 and not for v4.

[2018-03-27 09:03] isaachinman opened #69 "content-type header missing on Android"
Not sure if this is specific to an Android version, but on a OnePlus 3 running Android 8.0.0, the upload request hits my API without a `content-type` header set. The header is set correctly on iOS.

As a workaround, I've explicitly set the header in my options object:

    const options = {
      url: 'https://myapi/add-photo',
      path: image.uri,
      method: 'POST',
      type: 'raw',

[2018-03-27 09:53] AlfredOdling commented on #56
I have not tried the new code so I don’t know.

26 mars 2018 kl. 19:10 skrev Isaac Hinman <notifications@github.com<mailto:notifications@github.com>>:

@abhirajevolvier<https://github.com/abhirajevolvier> Does the code you posted work now that the codebase has been updated? I am running nearly identical code to you, and all my uploads are cancelling immediately with no useful error feedback:

Canc

[2018-03-27 11:15] abhirajevolvier commented on #56
@AlfredOdling I didn't tried the latest code but have tried multipart file uploading and no issues found.

[2018-03-27 14:41] isaachinman commented on #67
Update: it looks like probably all 4xx and 5xx errors are triggering the "completed" event. Not sure if this "completed" event is only supposed to be in reference to the clientside functionality, but I would expect it to throw into the "error" event for http error code responses.

[2018-03-27 15:15] isaachinman commented on #56
I am getting this error as well:

    Upload error:  Error: NSInvalidArgumentException
        at createErrorFromErrorData (NativeModules.js:123)
        at NativeModules.js:80
        at MessageQueue.__invokeCallback (MessageQueue.js:400)
        at MessageQueue.js:139
        at MessageQueue.__guardSafe (MessageQueue.js:316)
        at MessageQueue.invokeCallbackAndReturnFlushedQueue (MessageQue

[2018-03-27 20:34] StevePotter commented on #67
@isaachinman yeah the completed event seems to be coming regardless of response code.

I would say we need two things.  The first is API documentation.  The second is a 'success' event that will not occur in the event of an error http response code.  @TSMMark what do you think of this proposal?

[2018-03-27 20:37] StevePotter commented on #69
@isaachinman how did you determine the header wasn't set?  Is that from the server side?

Do you know how to debug the Java code?  If so, I'd like to see a breakpoint set at: https://github.com/Vydia/react-native-background-upload/blob/master/android/src/main/java/com/vydia/UploaderModule.java#L236

If possible, can you debug that and let me know what's going on?

Thanks for the string of good iss

[2018-03-27 20:39] StevePotter commented on #64
@isaachinman readme updated, now it's clear

[2018-03-27 20:39] #64 closed

[2018-03-28 07:56] isaachinman commented on #69
@StevePotter Yes, I have header validation on my API so it was clear immediately. Unfortunately no, I'm not a Java dev, although at first glance I don't think that's the piece of code we're after. I was under the impression that `'content-type': 'application/octet-stream'` should be set regardless of any header options passed, for every single upload by default.

[2018-03-28 14:35] TSMMark commented on #67
Sounds good

[2018-03-28 14:49] TSMMark commented on #69
It looks like we do get a mimetype and add to headers for iOS here https://github.com/Vydia/react-native-background-upload/blob/c308eef5868c5a59d7680168eeace25aeedcdbb9/ios/VydiaRNFileUploader.m#L260

Perhaps something that should be added for android as well

[2018-03-28 14:51] isaachinman commented on #69
Yes, headers are set correctly on iOS as per my original comment. Uniformity across both platforms reduces complexity for users, so this should definitely be implemented on Android, I just don't know how much help I can be.

[2018-03-28 15:03] TSMMark commented on #69
Thanks for reporting this @isaachinman. In the meantime, I added content-type to the headers in the readme. https://github.com/Vydia/react-native-background-upload#usage

[2018-03-28 15:05] StevePotter commented on #69
@isaachinman @TSMMark is right, we are setting content-type explicitly in iOS, but that's only for multipart file uploads, which is not the typical type of upload.  So by default, no headers get set at all.

[2018-03-29 14:36] #67 closed

[2018-03-30 13:39] V3RT1AG0 opened #71 "Error: expected x bytes but received y%"
Whenever I try to upload image to my Digital ocean spaces it starts uploading and then restarts again before reaching 100% and after one or two such attempts it throws me an error which looks something like this:
Error: expected 1433 bytes but received 1500%

I am not sure what is going wrong here

I am uploading the image using presigned url using following options

[code]

[2018-04-02 12:02] isaachinman commented on #66
@StevePotter Happy to merge the pods support at any time.

[2018-04-02 12:02] #66 closed

[2018-04-02 12:03] isaachinman commented on #67
So this issue was closed, but I don't see a release containing any fix. What's the timeframe on this?

[2018-04-05 11:59] isaachinman opened #72 "Path with spaces breaks upload"
Hello, it's me again!

First, the "symptoms" of this bug are a bug themselves - it seems whenever `react-native-background-upload` hits a runtime error, it calls the "Cancelled" event instead of "Error", which provides absolutely no data about what just happened.

The main bug: paths with spaces in them do not work whatsoever. I'm looking into workarounds now and how to escape this in a way that t

[2018-04-10 20:04] watadarkstar opened #73 "Response Body is Empty"
The `responseBody` is `""` (empty) as shown below:

[code]

My code:

[code]

Seems like a bug in this library but maybe the server isn't returning a `responseBody`.

[2018-04-10 20:43] TSMMark commented on #73
Hi, it should be working. Please check your server code and ensure it is responding properly.

If you don't have access to your upload server, you can reproduce the issue in a fork of https://github.com/Vydia/ReactNativeBackgroundUploadExample that sets a `responseBody`.

[2018-04-10 20:44] TSMMark commented on #59
@watadarkstar Good idea! PRs welcome :)

[2018-04-10 21:14] watadarkstar commented on #73
@TSMMark This is what my response looks like:

[code]

Probably [Microsoft Blob Storage](https://azure.microsoft.com/en-us/services/storage/blobs/) not returning a `responseBody` and instead returning `redirects` which this library doesn't include.

[2018-04-10 21:15] #73 closed

[2018-04-10 21:27] watadarkstar commented on #59
If I have some time I'll tackle this @TSMMark but no promises 🙏

[2018-04-11 13:57] StevePotter commented on #59
@watadarkstar @TSMMark how about we turn off notifications by default?  We'd have to do a major version bump and release notes but it's a very easy fix.

[2018-04-11 14:00] StevePotter commented on #72
@isaachinman thanks for the report.  Can you give me steps to reproduce on the simulator?  We'd really appreciate some help on this.  Any way you can make a quick PR?

[2018-04-11 14:02] StevePotter commented on #71
@V3RT1AG0 that's really bizarre.  What is 'type' in 'Content-Type' header?  Does this happen on both platforms, or just Android or iOS?

[2018-04-11 14:06] isaachinman commented on #72
@StevePotter Passing any path with spaces in it will reproduce the issue.

Sure, I can make a PR, but first we'd have to decide how to proceed.

[2018-04-11 14:56] StevePotter commented on #72
Good question.  If `encodeURI` fixes it, I would go that route.  But, I would be concerned that encodeURI could also break something.  So as long as thorough testing is done, I say we just fix it right.

[2018-04-11 15:10] watadarkstar commented on #59
@StevePotter I'd prefer that they were on by default and disabled on APK 27 and greater automatically. Seems like a cleaner experience and probably still very little work (a one or two liner).

[2018-04-11 16:33] isaachinman commented on #72
What are you worried about it breaking? `encodeURI` is a built-in for this exact purpose, and if you call it on a URI that has already been encoded, it just returns the same value. So we should be able to process all URIs through `encodeURI` without any issues.

Do you maybe have a few example URIs from your own use cases we can compare?

[2018-04-11 17:01] TSMMark commented on #72
Does it?

[code]

[2018-04-11 17:04] isaachinman commented on #72
@TSMMark You're completely right, my mistake. Not sure how I got that in my head but it seems `encodeURI` will encode whatever you pass it without any logic.

@StevePotter I think it would be entirely appropriate to leave this burden on users, but check against URIs containing spaces and throw a warning.

[2018-04-11 17:28] TSMMark commented on #72
I agree the burden should be on the user to supply a valid URI. Checking specifically for spaces does seem a little too niche to me though. There are plenty of characters that are not acceptable in a valid URI, and there are characters that are only valid in certain parts of a URI.

Perhaps a simple documentation update is the best approach after all. Thoughts?

[2018-04-11 17:32] isaachinman commented on #72
@TSMMark Sure, the proposal would be "check if URI is valid", not something as specific as checking for spaces.

The docs can be updated to reflect this, sure, but the real core issue here is this:

I've seen this happen several times now in my use of this library - errors are simply swallowed. I have no idea where/why this is happening.

If I got an "unexpected character" error spit out at me wit

[2018-04-11 18:53] TSMMark commented on #72
I opened #74 to close up the original issue here. Feel free to open one about

[2018-04-11 18:53] #72 closed

[2018-04-11 21:34] watadarkstar opened #75 "iOS 'React/RCTEventEmitter.h' file not found"
I get this error when I try to build on iOS

Any ideas?

[2018-04-11 23:59] StevePotter commented on #75
@watadarkstar that's a compilation error where the compiler can't find the React Native headers.  It's almost definitely a problem with your setup or an old version of React Native.

I'm going to need some more information.  What version of RN and of this package are you using?  Are you using any other packages?

[2018-04-12 13:33] V3RT1AG0 commented on #71
@StevePotter I think this is a issue with using content:// path of the image. When I use file:// uri it is uploading perfectly without any issue. I tried it on both AWS s3 and Digital Ocean Spaces. I was getting the same error. The content-type is image/jpeg btw

[2018-04-12 13:34] watadarkstar commented on #75
@StevePotter

I see. I use [Expo](https://expo.io) and recently upgraded my RN version, but I think this issue started once this library was added not after RN was upgraded. Though I believe you its something to do with RN headers not being found.

[code]

Btw thanks for the quick reply, awesome!

[2018-04-12 13:59] watadarkstar commented on #75
@StevePotter

I think I solved the problem:

To use this library with Expo one must first detach (eject) the project and follow the normal `react-native link` instructions. Additionally on iOS there is a must to add a Header Search Path to other dependencies which are managed using Pods. To do so one has to add $(SRCROOT)/../../../ios/Pods/Headers/Public/** to Header Search Path in `VydiaRNFileUpl

[2018-04-12 14:06] #71 closed

[2018-04-12 14:10] TSMMark commented on #75
@watadarkstar So glad you got it sorted out! Your documentation PR looks good to me. I'll let @StevePotter merge it, and close this issue in the mean time.

[2018-04-12 14:10] #75 closed

[2018-04-12 15:48] StevePotter commented on #75
@watadarkstar thanks for your effort and the PR to address this.  I've never tried to use this through Expo.  I wonder if something can be done to make it automatic.  Any ideas?

[2018-04-12 16:24] watadarkstar commented on #75
@StevePotter yes you can make it automatic. From another project, this is what they say in their [instructions](https://github.com/Polidea/react-native-ble-plx#expo):

[code]

I wouldn't say this is the best approach and probably would be worth some more googling to see what others are doing.

[2018-04-18 05:25] VaishaliHawaldar opened #78 "build.gradle issue"
In our project we are pointing to latest compileSdkVersion 27.0.0 as it is latest. But as the react-native-background is using 25 we are getting build issues. As we are using other packages too using latest sdk versions, we cant degrade to 25, could you please upgrade sdk version to latest sdk version.

[2018-04-18 16:30] TSMMark commented on #78
Hi @VaishaliHawaldar, we'll try to look into this soon. In the mean time feel free to submit a PR, historically we usually review and merge within 1 business day

[2018-04-26 12:43] mahesh-vidhate opened #79 "how can i pass list of images as input this library."
I want upload list images to the server, but using your library I can only pass single image at a time.
I can also call this library API multiple times using a loop or something. But the problem is when my app goes in background, it will only upload the current image which is in the upload process, it is not initiating further uploads.
So is there any way by which I can pass all list of images as

[2018-04-28 04:48] StevePotter commented on #78
@VaishaliHawaldar you could also do this without upgrading the package by setting this in the `mobile/android/build.gradle`

[code]

[2018-04-30 18:06] antonkulyk opened #81 "Events are not fired on Android"
Hi, I need to upload files to Amazon S3 in my app.
Everything works fine on the iOS, but I have some troubles with Android.

Here is the example

[code]

For some reason, none of the `progress`, `error`, `canceled` and `completed` events are not fired after the upload starts. I get an `uploadId` and nothing happens after that.

I've tried manipulating the SDKs versions (from [this issue](https://g

[2018-05-01 16:16] antonkulyk commented on #81
Can't reproduce it on the example app 😞Any ideas what could go wrong?

[2018-05-01 16:28] TSMMark commented on #81
I'm really not sure. I would start by stripping out functionality in your project until it's as close as possible to a minimal example which you have found to work. For example, maybe you would have better luck with a POST request rather than PUT, or maybe update the event handler callbacks (maybe an issue with the context the console log function is called with why passed in by reference? 🤷‍♂️ )

[2018-05-01 17:18] diurchenko commented on #81
@TSMMark Hi there, I am fighting with that issue together with Anton. We have covered `UploaderModule.java` with logs and it looks like everything works fine until
[code]
It gives back `uploadId` and successfully resolves the promise `promise.resolve(uploadId);`.
Though
[code]
in `UploadStatusDelegate` is never called.
We checked if the passed file path is correct:
[code]

[2018-05-01 19:49] StevePotter commented on #81
@antonkulyk and @diurchenko, thanks for writing.  To be clear, you set a breakpoint in Android Studio on `onProgress` and `onError` in `UploaderModule.java` [here](https://github.com/Vydia/react-native-background-upload/blob/master/android/src/main/java/com/vydia/UploaderModule.java#L145) and it never hits?  But the promise does resolve?

Can you check logcat for any other possible tracing info?

[2018-05-01 19:58] diurchenko commented on #81
@StevePotter Hi Steve! That wasn't a breakpoint, but `Log.d` before sending the event to JS `sendEvent("progress", params)`. Thanks for your suggestions 💪. None of us is a java developer, but I'll try to dig deeper in Android Studio and will check Network Profile. Will get back here with more info.

[2018-05-09 04:01] VaishaliHawaldar commented on #78
Hi Marco,

Sorry for late reply. We have just upgraded our app version with 27.0 as
many packages support latest sdk versions. Now it is working perfectly
fine. There is no need to fix this issue.

Thanks for all the help provided.

On Wed 9 May, 2018, 1:53 AM Marco Portillo, <notifications@github.com>
wrote:

[2018-05-09 04:02] VaishaliHawaldar commented on #78
Hi Stephen,

Sorry for late reply. We have just upgraded our app version with 27.0 as
many packages support latest sdk versions. Now it is working perfectly
fine. There is no need to fix this issue.

Thanks for all the help provided

On Sat 28 Apr, 2018, 9:51 AM Stephen Potter, <notifications@github.com>
wrote:

[2018-05-09 11:00] TSMMark commented on #78
Thanks for looping back @VaishaliHawaldar!

[2018-05-09 11:00] #78 closed

[2018-05-09 20:47] StevePotter commented on #78
@MarcoPortillo try my suggestion in your main gradle.  That has the benefit of fixing all libraries, not just this one

[2018-05-14 16:46] sraka1 commented on #66
@isaachinman how did you resolve the issue though (with this module being undefined at call-time)? I linked the module, cleaned and re-built in Xcode and still get this...

[2018-05-15 10:06] sraka1 commented on #81
Also experiencing this issue.

[2018-05-15 13:54] sraka1 commented on #81
Hm...I tried to implement the broadcast receiver into the library and that also wasn't triggering. Also I can do a cancelUpload successfully a *long* time after doing a startUpload, so the fact that none of the delegates/broadcast listeners/global listeners (listening mechanisms from gotev/android-upload-service) are triggering, leads me to believe that startUpload isn't even starting successfully

[2018-05-15 17:01] gotev commented on #81
@sraka1 I think the problem has to be inspected at RN bridge level, because the service works successfully in production on all Androids and no errors like this ever happened. I encourage you to try the upload service demo app in the same environment in which you start your RN app and it should work. Adjust it with your custom parameters so it can make the same request to your backend.

The `start

[2018-05-15 17:56] sraka1 commented on #81
@gotev Thanks for the reply.

The request gets passed the application context. That's not an issue is it? You wrote to check whether the application or current activity context is passed in, I thought that's irrelevant, isn't it?

cc @TSMMark

[2018-05-15 18:02] gotev commented on #81
In native Android it doesn't make difference, but I don't know if in RN the two are treated differently.

[2018-05-15 18:55] gotev commented on #81
You don't need to add any service declaration in your manifest. Just follow the getting started wiki page and make sure you set your package ID correctly by following the example.

[2018-05-15 19:27] sraka1 commented on #81
Okay, I tracked down the issue (but no fix yet). Context.startService (https://developer.android.com/reference/android/content/Context.html#startService(android.content.Intent)) - specifically [here](https://github.com/gotev/android-upload-service/blob/877ec555cb0ebd9a03dee8caa8813153ce7dfa11/uploadservice/src/main/java/net/gotev/uploadservice/UploadRequest.java#L76) - returns a ComponentName *OR*

[2018-05-15 21:31] gotev commented on #81
In normal conditions in a fully native app, if you don't configure the namespace correctly it simply won't start and the solution is in the getting started wiki. Post the code you are using to initialize the library and the full package string of your app. You said you are using broadcast receivers. Post that code as well.

[2018-05-15 21:57] sraka1 commented on #81
@gotev you mean the "[Hey dude, please set the namespace](https://github.com/gotev/android-upload-service/blob/877ec555cb0ebd9a03dee8caa8813153ce7dfa11/uploadservice/src/main/java/net/gotev/uploadservice/UploadService.java#L256)" thing?
That exception isn't thrown, [as the NAMESPACE actually is set to the name of the app, as it's supposed to be (see also the actual implementation)](https://github.

[2018-05-15 22:02] gotev commented on #81
The last this you should try is the upload service demo app with your same settings. I bet that bill is because of something done by RN unless proven otherwise.

[2018-05-15 22:17] sraka1 commented on #81
I'm pretty sure that somehow during the build, the [AndroidManifest](https://github.com/gotev/android-upload-service/blob/master/uploadservice/src/main/AndroidManifest.xml) from android-upload-service is being ignored. And since there is then no <service> definition, no service is started 😢

I will try now with the upload service demo app, but I'm also quite sure it will work...

[2018-05-15 22:39] sraka1 commented on #81
Woohoo, I was right! 🎉

I needed to add the following to my AndroidManifest.xml
[code]
The intent filter is redundant, but you might get warnings while building (make sure to replace `com.upload` with your own package name!).

@gotev It looks like the RN build process was not merging in the AndroidManifest.xml from your package! 😮

[2018-05-16 04:05] StevePotter commented on #81
@gotev thanks so much for helping out, much respect!  @sraka1 so should we just add that to the installation instructions?  I wonder if we can somehow make this automatic.  What do you think?

[2018-05-16 10:15] sraka1 commented on #81
I guess it might be because here the AndroidManifest is two layers below the app one?

App AndroidManifest->react-native-background-upload AndroidManifest->gotev/android-upload-service AndroidManifest...
Usually (on native Android apps) you link with gotev/android-upload-service directly so I guess the merge works fine. Maybe it doesn't work well recursively (I'm not familiar in the logic of how g

[2018-05-16 11:10] gotev commented on #81
On native Android even multiple nested project's manifests are merged by Gradle without problems. So RN has that limitation and you have to tell users to manually add things into their manifests

[2018-05-17 05:52] 447491480 opened #82 "HTTP body has two black line In Android"
When i upload a file to alioss with PostObject. in ios it works fine. but in android the server side reponse [The body of your POST request is not well-formed multipart/form-data]

I check the http raw between android and ios.
![image](https://user-images.githubusercontent.com/8955429/40158874-4dd11162-59d9-11e8-8f39-b355bf792807.png)
![image](https://user-images.githubusercontent.com/8955429/4015

[2018-05-25 16:30] watadarkstar opened #83 "When offline there is no error message"
Hi I use this package and its great! Except that if the user is offline (no-wifi) it never errors out. :( Am I doing something wrong or is this a known issue?

My code:
[code]

[2018-05-25 16:40] watadarkstar commented on #83
Work around for now:

[code]

[2018-05-27 08:57] lironsher commented on #83
Hi
Do you mean that you get "completed" event in offline?

We are suspecting that the uploading return "completed" during offline / network disconnected.

Thanks
Liron Sher

[2018-05-27 15:57] TSMMark commented on #83
[react-native exports `NetInfo`](https://facebook.github.io/react-native/docs/netinfo.html) which may help you. Something like this:

[code]

[2018-05-28 08:31] lironsher commented on #83
from our experience "isConnected" not always return the current status

[2018-05-28 14:46] watadarkstar commented on #83
@lironsher No I don't think we get a "completed" event when the network is offline. What version are you using of this library?

[2018-05-29 14:59] watadarkstar opened #84 "[Android] When using this package with react-native-camera get {"framesToPop": 1, "code": EUNSPECIFIED}"
I get this error on Android only when I try to upload a file using a `uri` from `react-native-camera`:

[code]

My upload code:
[code]

My camera code:
[code]

Not sure if this is a problem in this package or with `react-native-camera`. Any ideas as to what this error message means?

A workaround I have for now is: I copy the file using `RNFS.copyFile(uri,dest)` and use the destination `uri` (dest

[2018-06-05 11:06] shahchaitanya commented on #83
I use NetInfo.addEventListener to listen network status. While network status changes to offline,  I cancel upload process.

[2018-06-05 20:31] StevePotter commented on #83
@watadarkstar that's a heck of a fix.  I'd like to submit a feature request for the uploader to be more resilient to connectivity interruptions.  Anyone else agree?  I just don't want to do the work :)

[2018-06-05 21:37] watadarkstar commented on #83
😜 haha its dirty and now I'm using `NetInfo` @StevePotter

[2018-06-06 15:53] L-Yeiser opened #85 "Unknown Error"
Occasionally uploads fail with `Unknown Error`. We are using the library with a forked version `react-native-image-crop-picker` which allows downloading assets from the cloud. The error occurs intermittently and seems to be an iOs only issue. Attempting the upload again with a the same media often works. We have been unable to find consistent reproduction steps. Is there a way to get a better erro

[2018-06-06 17:55] L-Yeiser commented on #85
We were able to match a failed upload with an the corresponding s3 Post. The `Unknown Error` is triggered by a 400 incomplete body. It would be awesome if s3 error were passed to the upload Event Listeners. Also any ideas as to why we are getting this error would be amazing.

[2018-06-06 17:55] TSMMark commented on #85
Hi @L-Yeiser thanks for the report. If you're unable to reproduce consistently in your environment you could try in a fork of [ReactNativeBackgroundUploadExample](https://github.com/Vydia/ReactNativeBackgroundUploadExample) for a minimal environment

[2018-06-07 01:03] L-Yeiser commented on #85
Unfortunately  the failure is intermittent. I have added a substantial amount of error logging and will be pushing a release out in the next few days. Will post more when we have that information.

[2018-06-12 20:42] jasennett opened #87 "Update android-upload-service to version 3.4 to fix notification crashes"
`android-upload-service` added notification channel support for Android O in the [version 3.4 release](https://github.com/gotev/android-upload-service/releases/tag/3.4).  Updating to this version and passing in a channel id to the `UploadNotificationConfig` `setNotificationChannelId()` setter should fix the crash when enabling notifications on Android O.  Could support a `channelId` property along

[2018-06-12 20:45] jasennett commented on #87
Pull request #86 is already updating the version of the library, so the only additional work would be to configure the channel id for the `UploadNotificationConfig` object

[2018-06-13 15:33] theanh0512 opened #88 "How do I add body part for multipart upload?"
I need to have multiple fields in body, for example, Policy and signature. How do I add them in the body?

[2018-06-13 16:41] TSMMark commented on #88
`parameters` option https://github.com/Vydia/react-native-background-upload#api

[2018-06-13 16:41] #88 closed

[2018-06-16 12:10] isaachinman commented on #72
Just ran into this again. I hit a bug when uploading from a WhatsApp-related directory, due to spaces:

Here's what I'm doing prior to passing the URI to this lib:

    if (Platform.OS === 'android') {
      image.uri = image.uri.replace('file://', '')
    }

    image.uri = encodeURI(image.uri)

In the exact case above, if I _don't_ encode the URI and leave the spaces raw in the path, it _does_ w

[2018-06-19 16:44] L-Yeiser commented on #85
@TSMMark  we are still unable to reproduce issue but we are seeing it frequently. Looking through our sentry breadcrumbs it appears to occur after an `Lost connection to background transfer service` error. Any idea why I would be seeing `Lost connection` errors when connected to high speed wifi?

[2018-06-19 17:08] TSMMark commented on #85
Sorry, I'm not sure. Maybe #83 will help you with handling offline though

[2018-06-19 17:52] L-Yeiser commented on #85
Is there a thread limit? We often spawn 10+ uploads at once.

[2018-06-20 09:38] superandrew213 commented on #85
I'm seeing the same issue on iOS when running multiple uploads at the same time.

[2018-06-20 10:44] TSMMark commented on #85
@superandrew213 @L-Yeiser I see... Are you able to reproduce the issue consistently in a minimal environment? Such as a fork of [ReactNativeBackgroundUploadExample](https://github.com/Vydia/ReactNativeBackgroundUploadExample)? Please post / link

[2018-06-20 13:28] superandrew213 commented on #85
Will look into it. I think it's a timeout issue.

[2018-06-20 23:54] superandrew213 commented on #85
@L-Yeiser do you get the completed event to fire?

[code]

I'm getting this response from s3
[code]

I'm guessing since we are uploading multiple files some files get blocked and timeout.

For me the error event doesn't fire at all when this happens.

[2018-06-25 06:24] ayushmankd opened #89 "The Upload keeps repeating without even Completing"
const options = {
            url: 'http://159.65.152.134/upload',
            path: '/storage/emulated/0/DCIM/Camera/IMG_20171114_103325.jpg',
            method: 'POST',
            field: 'myImage',
            type: 'multipart',
            customUploadId: 'Hello'+Date.now().toString(),
            parameters: {
                username: this.props.prescriptionDetails.username,

[2018-06-25 06:40] ayushmankd commented on #89
Never Mind, I fixed it by adding

<service
        android:name="net.gotev.uploadservice.UploadService"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <action android:name="${applicationId}.uploadservice.action.upload" />
        </intent-filter>
    </service>
to manifest file

[2018-06-26 17:06] L-Yeiser commented on #85
@superandrew213 the completed event fires when the upload completes but not when I get `unknown error` - in those cases the error event does fire. Where are you capturing that `s3` error? We have only seen a `400 incomplete body` error. We have carved out some time this week to dig into it.

[2018-06-26 23:17] superandrew213 commented on #85
@L-Yeiser for me the `completed` event fires with `responseCode` 400 and `responseBody` has timeout error.

At the moment, I am just listening for this error and restart the upload. On the seconds try it always succeeds.

[2018-06-27 06:21] ayushmankd commented on #89
Never Mind it was the Server Error.

[2018-06-27 06:21] #89 closed

[2018-06-27 08:48] ankits47b commented on #56
@abhirajevolvier
Your file path does not contain "file:///"
so add "file:///    / User...... and so on

[2018-06-28 00:45] reidab commented on #85
Looking into this a little more with @L-Yeiser today, we found that the error is coming back from the `NSURLSessionDataTask` and being caught [here](https://github.com/Vydia/react-native-background-upload/blob/master/ios/VydiaRNFileUploader.m#L310). It's an [NSURLErrorUnknown](https://developer.apple.com/documentation/foundation/1508628-url_loading_system_error_codes/nsurlerrorunknown?language=obj

[2018-06-28 09:36] otaviogaiao opened #90 "Send multiple images, one at a time"
Hi! Thanks for the amazing lib!  I have a question that I hope you guys can help me with. In my app I have many files that I need to send, I'm going to send them one at a time, when one finishes, the other must start right away. Is there any way to do that?

Oh, and what features of my app I have access through the callbacks? When an upload succeeded or fails, I should be able to update my Redux s

[2018-06-28 17:07] L-Yeiser commented on #85
@superandrew213  retrying the upload does not work in our case. ATM we are batching uploads in groups of three and retrying any filed upload five times before failing the process. These safe guards have lessened the impact of the bug but we are still seeing it.

[2018-06-28 20:58] L-Yeiser commented on #85
The NSURLErrorUnknown is always proceeded by a [NSURLErrorBackgroundSessionWasDisconnected](https://developer.apple.com/documentation/foundation/1508628-url_loading_system_error_codes/nsurlerrorbackgroundsessionwasdisconnected?language=objc) error thrown from the same line.

[2018-06-28 22:36] L-Yeiser commented on #85
@TSMMark I was able to reproduce this issue consistently on an iphone 7 when attempting to upload large video. In the example app we just switched `media` to `multitype` in the `react-native-image-picker` config. This issue may be related to https://github.com/Vydia/react-native-background-upload/issues/53 which was closed without a solution.

[2018-07-03 06:48] sametcilli commented on #90
You can do it, so you can upload with loop, i tried it, i take an error if i use customUploadId, but when i don't use customUploadId, it ran.

[2018-07-03 09:23] otaviogaiao commented on #90
Nice! I will try it! Thank man

[2018-07-10 04:36] TuNguyenThanh opened #91 "Error upload image Cloudinary"
Hi! Thanks @Vydia create lib great!
I have a problem, when upload image to Cloudinary.

` {"error":{"message":"Upload preset must be specified when using unsigned upload"}}`

I enabled upload presets and choose Mode 'Unsigned'. It not work for me. Why?

When use XMLHttpRequest upload, it working fire.

[code]

Thanks!

[2018-07-22 18:11] sanderpick opened #92 "iOS: Lost connection to background transfer service"
Every so often, when uploads happen in the background (kicked off by a significant location change update), we get an exception: *Lost connection to background transfer service*

Same problem as described in this other lib: https://github.com/joltup/rn-fetch-blob/issues/20

[2018-07-23 16:00] TSMMark commented on #92
Thanks for the report. Do you have more information about the exception such as a stack traceback? How would you prefer the exception should be handled?

[2018-07-24 01:40] sanderpick commented on #92
@TSMMark, I believe it's just an error reported back from the OS, not an exception (updated the issue description). Perhaps this lib could offer a retry?

[2018-07-24 10:04] perfectAlways1028 opened #93 "Unknown error when upload 2mins video from camera."
Device : iPad
Package Version 4.4.0

I got "Unknown Error" when I upload over 2mins video from camera.
It is working fine when I upload smaller video like 30s.

Let me know if you have any solution
Thanks

[2018-07-24 16:29] bulats opened #94 "Pause/Resume functionality"
Hi @StevePotter ,

Are there any plans to implement pause/resume upload functionality? It would be nice to have for larger videos.

Thank you!

[2018-07-27 18:17] pribeh commented on #83
Sorry if I'm jumping onto the wrong thread here but is there a way to detect when the connection is interrupted and send an error? And then, is there an ability to build an option for the end-user to resume the upload when connection is re-established?

[2018-07-30 14:17] TSMMark commented on #83
@pribeh You're in the correct thread, now all you have to do is read the thread 😄

https://github.com/Vydia/react-native-background-upload/issues/83#issuecomment-394669674

[2018-07-30 15:58] pribeh commented on #83
@TSMMark thanks! We'll give that a shot.

[2018-08-03 22:07] L-Yeiser commented on #93
Related to https://github.com/Vydia/react-native-background-upload/issues/85

[2018-08-03 22:30] L-Yeiser commented on #93
Also related to https://github.com/Vydia/react-native-background-upload/issues/53. Curiously if you run the example app and switch `media` to `any` in the `react-native-image-crop-picker` config and try to upload the same video do you see the error?

[2018-08-04 15:27] L-Yeiser commented on #92
is the error reported back form the OS a [NSURLErrorBackgroundSessionWasDisconnected](https://developer.apple.com/documentation/foundation/1508628-url_loading_system_error_codes/nsurlerrorbackgroundsessionwasdisconnected?language=objc) thrown from [here](https://github.com/Vydia/react-native-background-upload/blob/master/ios/VydiaRNFileUploader.m#L310)?

[2018-08-16 14:58] albinhubsch commented on #87
Pull request #95 will solve this

[2018-08-16 22:03] L-Yeiser commented on #85
@TSMMark wondering if it would work to use `NSURLSessionUploadTask` instead of `NSURLSessionDataTask`? Counter to [this line](https://github.com/Vydia/react-native-background-upload/blob/master/ios/VydiaRNFileUploader.m#L200) [the docs](https://developer.apple.com/documentation/foundation/nsurlsessionuploadtask) make it sound like `NSURLSessionUploadTask` is the correct class to use when uploading

[2018-08-17 15:36] StevePotter commented on #85
@L-Yeiser I'd be happy to make a PR that uses a different API for iOS uploading.   But it will take me some time.  Will you test it for me once I do it?

[2018-08-21 13:36] yli18 commented on #90
Did you guys succeed to upload multiple images in the background with IOS device?

[2018-09-04 14:52] StevePotter commented on #94
@bulats that sounds cool but unless someone else does the work, it ain't happening right now.  You should totally give it a shot :)

[2018-09-04 14:52] #94 closed

[2018-09-04 21:59] JustgeekDE commented on #85
We are also seeing the `Unknown Error` and `lost connection to background transfer service` fairly often in our app. (See also #93 and #92 )
In our case it only happens when the app is send to the background and we try to trigger the data upload in the `handleAppStateChange` function.

As far as I can tell these factors cause the error to appear more often:

- iPhone 5s compared to later models
-

[2018-09-06 20:16] kdawgwilk commented on #75
This does not actually fix the issue because each time you run a `yarn install` the change to add the header search paths will be reset and need to happen again

[2018-09-07 01:25] StevePotter commented on #75
@kdawgwilk any ideas on how to fix it?  I don't use Expo so I'm not any help here

[2018-09-07 05:33] kdawgwilk commented on #75
I opened a PR #96 that fixed my issues with cocoapods but I am not using expo so not sure if it addresses that scenario

[2018-09-19 05:15] baxri opened #99 "TImeout Error."
## USSUE MAY BE A BUG

Hi, I am trying to upload on the server 800mb data. the server is digitalocean droplet with php 7.1.

when it starts the upload and reaches 10%, the percentage is resetting and starts from zero (0%), and it restarts upload few times after 10%, after a while, I am getting the timeout error.

Has anyone have such problem on a big data?

[2018-09-19 14:44] dannyvassallo commented on #99
Can you provide some more information? What OS? Does it happen on both? We don't usually see any issues based on file size alone. Do you have an actual error or stack trace or is it simply a timeout? @baxri

[2018-09-19 18:39] baxri commented on #99
Thanks for your response @dannyvassallo

I am testing on android OS 7.0, code is looks like this:

[code]

and it throws second listener error ```alert(`Error: ${data.error}%`);```

The library is not limited to upload big data? what is max size I can upload?

[2018-09-19 20:26] dannyvassallo commented on #99
@baxri are you able to upload the same file from a web browser to your server? typically the file size and timeout is governed by your host/server. The background uploader itself shouldn't time out.

[2018-09-22 04:42] baxri commented on #99
@dannyvassallo thanks for your attention :) I figured out everything it was a server problem, there was some limitation. I gonna to close this issue.

[2018-09-22 04:42] #99 closed

[2018-09-24 14:34] TSMMark commented on #99
@baxri glad you were able to figure it out and thanks for looping back to close out the issue! Thanks @dannyvassallo

[2018-09-24 16:25] mojodev opened #100 "react-native-background-upload throwing timeout error"
i have built an app which upload images on server. It's work like a charm on Wifi connection. but not got even 50% success in poor connection like 2g, 3g mobile data. it's throwing timeout error. is there any way to set timeout in api call ?

[2018-09-25 20:19] StevePotter commented on #87
Done and published!

[2018-09-25 20:19] #87 closed

[2018-09-25 20:32] StevePotter commented on #85
@L-Yeiser I checked in the code and we are using the important calls to create the `NSUrlSessionUploadTask`.  We are just casting it as the base type for some reason.  I'll fix that, but that's not going to change anything.

For non-multipart, we use
https://developer.apple.com/documentation/foundation/nsurlsession/1411550-uploadtaskwithrequest?language=objc

There is another version of that funct

[2018-09-25 20:33] StevePotter commented on #79
Closing due to lack of response and no example

[2018-09-25 20:33] #79 closed

[2018-09-25 22:04] L-Yeiser commented on #85
@StevePotter thanks so much for looking into it. I can look into it a bit in the coming months

[2018-10-10 18:29] watadarkstar opened #103 "Android stops uploading and progress halts"
I don't get any error or exception or crash but the progress just halts:

[code]

Using:
"react-native-background-upload": "^5.0.0",
"react-native": "0.57.0",

[2018-10-10 18:51] TSMMark commented on #103
Hi @watadarkstar thanks for the report. Would you mind providing any additional information such as the frequency of the issue, if it always halts at the same progress %, is it android-only or iOS also, what are the conditions of the network connection of the device, is there any chance the backend server is having issues, how long did you wait to see if it would resume eventually?

[2018-10-10 18:53] watadarkstar commented on #103
@TSMMark I actually just tried "react-native-background-upload": "4.4.0", and have not seen this issue again. Downgrading from 5.

Honestly, its pretty unpredictable. It sometimes halts at 0% sometimes it gets to 37% and sometimes 67%.

P.S. Thanks for the quick response you rock!

[2018-10-10 18:58] watadarkstar commented on #103
@TSMMark Furthermore, its an android only problem. Happens on a few devices:

samsung SM-G610M, OS Level 23
asus ASUS_X00ID, OS Level 25

[2018-10-10 20:25] halaharr opened #104 "TypeError: Cannot read property 'startUpload' of undefined"
Hi,
    I am getting this error the following error trying to use this plugin.
TypeError: Cannot read property 'startUpload' of undefined

I am using version 5.0.0 and RN version 0.55.1.

Also when I have ESLint errors:
"Caution: 'Upload ' also has need export startup.

I tried declaring startup
import Upload, { startUpload } from 'react-native-background-upload';

but does not work.

Thanks for y

[2018-10-11 14:50] TSMMark commented on #104
[code]

is different from

[code]

Please follow the readme https://github.com/Vydia/react-native-background-upload#usage

[2018-10-11 14:50] #104 closed

[2018-10-11 16:54] halaharr opened #105 "Cancelled event listener triggered immediately."
Hi,
    I am trying to use this plugin and cancelled event listener is triggered immediately after start. Here s my code

const options = {
    url: `${config.ApiUrl}PhotoUpload/PostSinglePhoto/${inum}`,
    path,
    method: 'POST',
    headers: {
      'Content-Type': 'application/octet-stream',
      authorization: `Bearer ${jwt}`,
      'File-Name': path.slice(path.lastIndexOf('/') + 1),

[2018-10-11 18:15] TSMMark commented on #105
Hi, you're probably having a server or connectivity issue I imagine

[2018-10-11 19:43] halaharr commented on #105
It is not connectivity issue. I was able to get data from server. Not sure why the cancel event triggeres immediately. Any help would be appreciate it.

[2018-10-11 20:36] TSMMark commented on #105
We can't really help unless you can reproduce the issue using the example app https://github.com/Vydia/ReactNativeBackgroundUploadExample

[2018-10-12 15:42] halaharr commented on #105
Hi,
    Is it cancelling immediately because I am trying to upload the data from documents directory. I have all the photos that the user took stored in a specific folder and I am trying to upload the photos from that folder.

ex: on simulator
"file://Users/halaharvi/Library/Developer/CoreSimulator/Devices/D6302B46-E57D-40A9-94AC-D232695EF081/data/Containers/Data/Application/06FE2D05-1B27-467A-BE2

[2018-10-15 15:39] halaharr commented on #105
Hi
    I am still having this issue. Not sure what argument I am passing wrong. Here is the options I am passing:
  getFileInfo(path)
    .then(res => {
      options = Object.assign({
        url: `${config.ApiUrl}PhotoUpload/PostSinglePhoto/${inum}`,
        type: 'raw',
        method: 'POST',
        path,
        headers: {
          'content-type': res.mimeType
        }
      });
      cons

[2018-10-15 19:02] halaharr opened #106 "Question: Is it possible to upload jpg file as 'raw' instead of multipart?"
Hi,
    I am trying to upload jpg file as 'raw' and I keep getting 'NSInvalidArgumentException' if I change it multipart it does upload only part of the image. Is there any other plugin I could use to upload images?

Thanks

[2018-10-22 20:13] ahaus commented on #103
I also got this problem with Android (Huawei P9, Android 7.0, react-native: 0.47) but worked on iOS.
I also downgraded to 4.4.0. Seems to be more stable.

[2018-10-24 12:26] mojodev opened #107 "for some of the image upload progress percentage showing more than 100%"
I have used react native-background-upload to upload image in my react native app. in 95% case it working fine, but some time upload api failed, because somehow progress percentage become more than 100%.
PFA sentry logs here.

<img width="806" alt="screen shot 2018-10-24 at 5 45 44 pm" src="https://user-images.githubusercontent.com/16475786/47430008-b75a4900-d7b5-11e8-8b2d-53f567a57e61.png">

[2018-11-08 17:33] brian-pitsch commented on #81
I'm experiencing the same issue on 5.0, react-native 0.56
I've tried the AndroidManifest.xml addition mentioned above, but it didn't seem to do anything.  However, I'm not sure if I'm putting it in the right part of the file.  Where exactly in the file should it go?  Directly inside the 'manifest' tags, 'application', or elsewhere?
Thanks for any help

[2018-11-16 12:10] pottercomuneo opened #108 "How can I specify filename?"
Using `fetch()` I could upload a file like this:

[code]
and whatever the actual filename was, in the webservice I received in `$_FILES['file']['name']` my custom name.
Is that possible?
Thank you so much, amazing component anyway

[2018-11-20 07:10] satyen-progton opened #110 "Upload Progress stops in console logs but continue in notification android"
Upload progress in console.log stops randomly in between but continues in notification and uploads are successful but are not reflected in console.logs

[code]

[2018-11-20 10:45] satyen-progton commented on #110
Solved the issue by downgrading to 4.4.0 version but notifications are not visible in android 9(Pie)

[2018-11-26 10:08] horodnicdragos opened #111 "Cannot read property 'startUpload' of undefined"
Greetings!

I'm always getting this error on iOS:
```Cannot read property 'startUpload' of undefined```

It works just fine on android. My function looks like this:

[code]

And I have the following versions for the packages I am using:

[code]

Is there anything I am missing?

[2018-12-03 09:45] sraka1 commented on #49
@StevePotter why was this closed?

As posted above, users should be instructed to implement `application:handleEventsForBackgroundURLSession:
completionHandler:` in their AppDelegate and in turn call a method on VydiaRNFileUploader...

[2018-12-03 21:12] StevePotter commented on #49
@sraka1 thanks for writing.  I checked and we were calling the appropriate files.  I also can't do much with this bug report.  A screenshot or anything would be nice.  I can't fix what I can't reproduce.  I would not want to ask people to add AppDelegate code unless they absolutely had to.  If you can get me more information, and maybe a quick PR to fix it, we can continue.  How does that sound?

[2018-12-03 23:43] TSMMark commented on #49
If you could implement a minimal repro by forking our example app https://github.com/Vydia/ReactNativeBackgroundUploadExample that would be ideal

[2018-12-05 07:50] paulwilson123 opened #113 "The upload seems to automatically restart for big files after reaching 100% once"
When i'm uploading files with a size around 300 MB or grater. The upload reaches 100% and file is successfully posted to API, But instead of showing upload is complete the plugin starts the upload again from 0%. And after 3 attempts it shows upload failed error. And the file is save 3 times also.

[2018-12-06 22:04] steve1000 commented on #91
Not sure if you've solved this already but you need to have your upload preset in your request under the `parameters` key:
[code]

[2018-12-11 20:12] asutula opened #114 "Project uses unavailable Gradle version"
Looks like Google unpublished Gradle 2.x from all the repos, so this project now fails to build.

[2018-12-11 21:02] asutula commented on #114
Nice temporary work around. Thanks @ahaus

[2018-12-12 06:15] andorfermichael commented on #114
same problem here:

Project is either no Android app project or build version has not been set to override

FAILURE: Build failed with an exception.

[code]

[2018-12-12 22:16] TSMMark commented on #114
Hey anyone interested in contributing a PR?

[2018-12-12 23:16] ahaus commented on #114
Maybe this is only a temporary problem and they will republish Gradle 2.x stuff.

[2018-12-17 14:24] Link-Kou opened #115 "android:Unsupported scheme"
android
https://github.com/ivpusic/react-native-image-crop-picker

Error: Unsupported scheme: file:///data/user/0/com.zhitaoapp/cache/react-native-image-crop-picker/61609ee7-3df2-495d-8725-760308c49031.jpg
    at createErrorFromErrorData (blob:http://localhost:8081/c7a3c964-e297-4c09-ab75-7eec73171960:2019:17)
    at blob:http://localhost:8081/c7a3c964-e297-4c09-ab75-7eec73171960:1971:27
    at Me

[2018-12-17 14:30] fannaoshaoxiang commented on #115
Success:

Platform.select({
         ios: () => 'file://' + image.path,
         android: () => image.path.replace('file://', '')
})()

[2018-12-18 09:45] shahchaitanya commented on #67
I'm facing still same issue. Any progress on this thread? @TSMMark @StevePotter

[2018-12-18 15:20] StevePotter commented on #67
@shahchaitanya no progress, sorry.  Are you interested in making a PR?

[2019-01-07 10:23] Zabi-Progton opened #117 "How do i get all background progress of all ongoing uploads ? Using Upload("progress",null,data=>{console.log(data.progress)}), i am getting only one progress"

[2019-01-07 12:30] bvodola opened #118 "Question: Does it work while the app is closed?"
Hello all. Firstly, thanks for sharing this great lib. Now, for my question:

Suppose I start a long upload and in the middle of it I close the app (not just background it).
Is the upload going to restart/resume later as a background process? I know it stops on iOS, because if I reopen the app immediately after closing, the file is not uploaded. So, is this pending upload stored somewhere it can b

[2019-01-09 16:21] sraka1 commented on #110
I believe this is a duplicate of #103. However, it's interesting to know that in the notifications, it continues successfully.

[2019-01-09 16:22] sraka1 commented on #103
@StevePotter this is a real issue, making use of this library unreliable to say the least :/. Have you looked at this issue?

[2019-01-11 01:19] TSMMark commented on #103
@sraka1 Sorry you're having issues. Would you be able to reproduce it consistently in a fork of the example app? https://github.com/Vydia/ReactNativeBackgroundUploadExample Otherwise, it sounds like 4.4.0 has worked for a few people and you may have success there.

[2019-01-14 08:04] remigijusbalc opened #120 "File exists returns false"
I'm testing on iOS 12.1. Whenever I get assets paths from CameraRoll and pass them to getFileInfo, everythings ok, it sends image but returns that file doesn't exist. Any suggestions?

![screenshot 2019-01-14 at 10 03 49](https://user-images.githubusercontent.com/32093119/51101556-bac50580-17e3-11e9-9e4e-854843561bce.png)

[2019-01-15 11:31] dgoenka opened #121 "Crashing with 5.0.0 / Lastest commit hash on iOS"
My app is constantly crashing on specifically calling the startUpload method on iOS.

From the logs I'm able to get this:
[code]
I would love to use your library given the features it can offer. Please help, thanks.

[2019-01-15 11:39] dgoenka commented on #121
For what its worth I got this crash log as well:
[code]

[2019-01-17 10:03] BaderSerhan opened #122 "[iOS] [Debug] App crashing as soon as upload starts"
I'm getting the following error as soon as I try uploading something in debug mode:

***Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'You must override the `supportedEvents` method of fir_0x600000393c00_VydiaRNFileUploader'***

In release mode, it is working just fine!

I looked in the class, and the `supportedEvents` method seems to be overrode.

Here's th

[2019-01-17 17:36] TSMMark commented on #122
Thanks for the report. Are you able to reproduce the issue in a fork of the RNBU example app?

[2019-01-18 08:53] mlop113 commented on #92
+1 I have same issue, it not resolved

[2019-01-20 17:16] gotev opened #123 "Support for Android 9.0 Pie"
Hi there! This is just to let you know new version 3.5.0 of Android Upload Service has been published, with support for latest Android 9, OkHttp 3.12.1 and Google AndroidX libraries: https://github.com/gotev/android-upload-service/releases/tag/3.5.0

[2019-01-21 16:13] mephisto83 commented on #104
I'm getting a similar error.
"react-native": "0.57.8",

import Upload from 'react-native-background-upload'

TypeError: Cannot read property 'startUpload' of undefined
    at Object.startUpload (index.js:77)
    at Object.upload (uploadservice.js:27)
    at #######.js:2803
    at #######.js:2730
    at run (es6.promise.js:87)
    at es6.promise.js:100
    at flush (_microtask.js:18)
    at tryCall

[2019-01-21 17:05] onka13 opened #124 "Max Retries Parameter"
Could you please make a parameter to change "setMaxRetries(2)" ?

[2019-01-21 22:16] StevePotter commented on #123
Thanks @gotev!  I already started the upgrade in PR #125

[2019-01-21 22:16] #123 closed

[2019-01-21 22:20] StevePotter commented on #121
@dgoenka I'm sorry, but I can't offer much help here.  It could be a million things, like the combination of packages you are using.  Nothing from the stacktrace tells me much information.  Sorry, but I have to close this because there isn't anything for me to go on.  I suggest trying with a fresh project, or upgrade some package versions, start pulling out npm packages one-by-one until the error

[2019-01-21 22:20] #121 closed

[2019-01-22 12:55] ahaus commented on #114
Did not check. I am still sticking to the workaround.

[2019-01-22 20:44] StevePotter commented on #114
Just tested on https://github.com/Vydia/ReactNativeBackgroundUploadExample and it works now.  Must have been a temporary outage.  I'm closing the issue as a result.  If something is still wrong, please let me know

[2019-01-22 20:44] #114 closed

[2019-01-22 23:06] EJohnF commented on #81
Hoping that a new comment will raise this issue up: I have the same problem, and manifest update didn't help

[2019-01-23 05:23] mlop113 opened #126 "upload a file in "Body" request"
Like this, but I don't know what to do
![screen shot 2019-01-23 at 12 23 32](https://user-images.githubusercontent.com/22517602/51584857-b72f2e00-1f09-11e9-804e-3f24782a7291.png)

[2019-01-23 15:02] TSMMark commented on #126
https://github.com/Vydia/ReactNativeBackgroundUploadExample/issues/10#issuecomment-456832903

[2019-01-23 15:02] #126 closed

[2019-01-24 05:19] berkcoker commented on #122
I've noticed that this only happens on Debug mode, but is fine on Release

[2019-01-24 08:38] mlop113 commented on #88
parameters in README are not suitable for me, the server cannot receive the file from parameters when I use multipart

[2019-01-24 08:49] mlop113 commented on #33
It seems that this library does not support attaching a file to the Body section for some servers.
get Wrong when I do that:
   let form = new FromData()
   form.append('avatar', image[index].data)
   const options = {
   ....
   parameters: form
}

[2019-01-24 15:30] pedrosimao opened #127 "Upload won't switch from 4G to WiFi"
I have noticed that if an upload starts via 4G or 3G connection and the user connects to a WiFi during the upload, the upload won't switch to Wifi (which would be normally faster and cheaper). But it stays on cell network till the end.
It would be great to create a listener for cell network to wifi network changes, so upload could switch network or even restart.

[2019-01-26 08:34] mfachmirizal opened #128 "Does this support pause upload?"
Does this support pause upload?
Thanks

[2019-01-26 17:37] TSMMark commented on #128
No

[2019-01-26 17:37] #128 closed

[2019-01-29 10:06] pedrosimao commented on #127
@TSMMark thanks for your support.
If you have any idea on how it can be done I can try to code it myself.

[2019-01-29 14:53] TSMMark commented on #127
I imagine it would have to be implemented for iOS and Android both separately because of the nature of background processes. Looking into it more I'm not sure it would even be possible without canceling and retry an upload once the device has switched networks, and it sounds like it would require foregrounding the app. https://forums.developer.apple.com/thread/25758

Sorry I can't be of more help.

[2019-02-07 07:27] alexivison commented on #122
I'm also having the same problem... Any movement on this ?

[2019-02-11 04:32] adityajhordan commented on #106
Hi @halaharr are you found the solution for the jpg file ?

[2019-02-11 20:22] DanthonyPabon commented on #115
not working for me

I did this  file.replace("file://", "");

field: "uploaded_media"
files: "/data/user/0/com.picnow/cache/1549916302744.JPEG"
type: "multipart"
url: "http://192.168.0.21:3000/upload_multipart"

[code]

[2019-02-11 21:19] DanthonyPabon commented on #115
My Example:

[code]

[2019-02-12 10:28] sraka1 commented on #113
This is due to `setMaxRetries(2)` - so initial try + 2 retries.

@StevePotter @TSMMark is a fix for #124 in the pipeline?

[2019-02-12 10:48] sraka1 commented on #71
Btw, I had the same issue (for the same reason - using content:// URIs on Android). RNs CameraRoll API returns these by default. I used https://github.com/Wraptime/react-native-get-real-path to get the real path... Also take note, that you need to provide the URI without file:// on Android...

Basically something like.
[code]

[2019-02-12 13:18] pedrosimao opened #129 "Event listener 'completed' not being called (random)"
On my application the event 'completed' sometimes is not called when upload finishes. I have tried to find the culprit but I was not able to reproduce the bug every time. It's really strange. This can happen even if the application is open all the time (not on background).

I currently dispatch a redux action inside the completed event, this action is responsible for deleting the upload progress b

[2019-02-12 14:48] TSMMark commented on #113
@sraka1 Nothing yet, feel free to take a stab

[2019-02-12 15:54] StevePotter commented on #113
@sraka1 I guess I don't understand why `setMaxRetries(2)` is the problem.  Seems like the real problem is that the file is failing for whatever reason to complete an upload.  `setMaxRetries(0)` would result in only one file, but the uploader still wouldn't complete properly.  @paulwilson123 it would be great to know the response code returned from the server.  Is there a way you can supply that?

[2019-02-12 16:00] StevePotter commented on #129
@pedrosimao thanks for writing.  Is this iOS or Android?  Ideally you could get a breakpoint set in the native code, which is very easy to do in either xcode or android studio.  This bug seems to be affecting others and I'd like to get to the bottom of it.  We should first determine whether it's native or JS.  Any help you can do as far as debugging goes would be really appreciated.  Unfortunately

[2019-02-12 16:01] StevePotter commented on #71
@sraka1 would you be willing to make a PR that includes that functionality inside the package?

[2019-02-13 09:53] BaderSerhan commented on #122
@TSMMark I tried it on the RNBU example app, and it is working fine. I think it is a conflict with `react-native-firebase` because this issue started appearing when I integrated `Firebase`. It is affecting all of my logic and now the app is nearly non-functional because of this :/.

@berkcoker @alexivison  Can you confirm if you have firebase integrated?

[2019-02-18 10:07] BaderSerhan commented on #122
any update on this? This is crucial to my app and if it doesn't work out I'll have to switch to another component :(

[2019-02-18 14:35] pedrosimao commented on #129
@StevePotter I have noticed this happens mainly with Android when I am using cell network (3G/4G). I think it happens less when I am using WiFi network. It seems that the callback of `Upload.startUpload()` will not listen to any events (progress, error, cancelled or completed). I still have no perfect way to reproduce it, but investigating it on Android with bad 3G network might be a good way to g

[2019-02-19 13:22] APZelos commented on #84
Do you remove the `file://` part from the path? For me, this resolved this issue.

Changed this:
[code]
To this:
[code]

[2019-02-21 12:21] pedrosimao commented on #129
I also noticed that JS code inside catch is not called either. The error happens even when the app is never put on the background. Basically, I have wrapped the startUpload function inside a Promise, then I call this Promise / Function from another method inside a `try/catch`. I realized that when the bug happens no code after the `await` (inside try) is executed, nor what is inside my catch. Here

[2019-02-26 10:17] BaderSerhan commented on #122
I just removed `Firebase/Performance` from the `pods`

    Removing FirebaseABTesting
    Removing FirebasePerformance
    Removing FirebaseRemoteConfig
    Removing GoogleToolboxForMac

And the crash stops! I don't know which one exactly was causing the conflict, but I think this solves it for now and we can move on with our lives.

[2019-02-26 10:17] #122 closed

[2019-02-26 14:52] TSMMark commented on #122
Glad to hear that @BaderSerhan! Thanks for update

[2019-03-04 13:03] medelvann commented on #129
i have this problem too , randomly upload successful and not any error and complete listener called after this bug happened.so i cant resolve promise for finish process upload.

[2019-03-05 12:41] phsumi commented on #123
@StevePotter did you encounter any dragons on this one? i'm just starting with a project, so jumping on the latest and greatest upload service would be the logical choice for me :)

[2019-03-05 20:55] StevePotter commented on #123
@phsumi I am having a heck of a time upgrading the background uploader.  The background upload service upgrades to androidx, which affects a ton of stuff and I couldn't even compile the sample application.  How's your Android skills?  Would you be willing to help solve this issue?

@gotev I am really struggling with AndroidX, which I believe doesn't work with React Native yet.  See https://github.

[2019-03-06 00:26] phsumi commented on #123
@stephenpotter yeah, I ran into the same issues. Unfortunately, I don’t have any experience in native development at this point, so I wouldn’t even know where to start :/

________________________________
From: Stephen Potter <notifications@github.com>
Sent: Tuesday, March 5, 2019 9:55:55 PM
To: Vydia/react-native-background-upload
Cc: Philipp Sumi; Mention
Subject: Re: [Vydia/react-native-backgro

[2019-03-06 07:47] gotev commented on #123
@StevePotter I'm not using RN, as I keep on making fully native iOS and Android apps. AndroidX is the present and future of Android so RN should support it. All the official and most of third party native libraries are already on AndroidX. To ease native apps transitioning, Google has made the "jetifier" which tries to automatically translate old support libraries to the new AndroidX packages when

[2019-03-06 10:35] cadesalaberry commented on #129
I am having the same issue. Meanwhile I came up with a really ugly hack as a workaround.

Seeing that the `progress` callback is called, I just wait for it to return a value of 100%:

[code]

This solution is a bit wonky as I don't even know if the `progress` callback always eventually return a `100` payload, and 5s is a random delay, but in my experience this hack has always worked for now.

The

[2019-03-06 11:25] pedrosimao commented on #129
@cadesalaberry Good that the hack works for you. For me, the proposed solution would not work, since the `progress` callback also fails on Android sometimes.

[2019-03-06 18:53] JesseDunlap commented on #129
My team and I are seeing a similar issue. Somewhat randomly none of the events (completed, progress, etc.) are triggered. So far this only seems to be affecting Android 9.

We've tracked the issue down to `UploaderModule.java:149` (in the case of `progress` events). It would appear the `sendEvent` method gets called, but that event doesn't get fired in JavaScript.

Oddly enough, this issue general

[2019-03-07 21:30] amie-wilt commented on #105
@halaharr Did you figure this out? I'm having the same problem.

[2019-03-07 23:48] JesseDunlap commented on #129
Eventually we discovered that this was because the `UploadStatusDelegate` was being garbage collected. We were able to prevent this from happening by converting `statusDelegate` (`UploaderModule.java:145`) to an instance variable rather than an inline one.

I have these changes in [a fork](https://github.com/zipline/react-native-background-upload), but I don't think it's a good or correct solution

[2019-03-09 00:26] hardcodet commented on #129
This might actually indicate a bug in the Android UploadService, since that delegate is actually fed into the library. @gotev, are you aware of the issue by any chance?

That being said, I stumbled over https://github.com/gotev/android-upload-service/wiki/Monitoring-upload-status which propagates another model that would survive non-foregrounded apps. Maybe the approach is problematic in the first

[2019-03-09 07:26] gotev commented on #129
Delegates are good only when you never abandon the current activity, and it's suitable only for little uploads. If you receive a call or something else interrupts your app, the context is lost and so the delegate cannot be called. I always encourage to use the broadcast receiver approach, more specifically the version in which you declare a global broadcast receiver. That's the most reliable for l

[2019-03-10 05:03] delavago opened #131 "can i send other fields without having to make the request 'multipart' ?"
how can i add multiple fields to the request along with the file that i want to send. in my case the server accepts multiple fields with the request

[2019-03-12 12:14] hardcodet opened #132 "Android Upload Service adds additional data"
_**Edit: Thinking this may be a multipart issue. I'll post back :)**_

Not sure whether this is an old bug (maybe @gotev knows), but I noticed that my uploaded files were slightly bigger than the originals, with different CRCs. Since my files are encrypted, that renders them useless.

Looking at the files with the text editor, I noticed that they started with this metadata, that obviously really s

[2019-03-12 12:19] hardcodet commented on #132
Duh, that's what I get from blindly copy/pasting. Switching to raw fixed the issue 👍

[2019-03-12 12:19] #132 closed

[2019-03-22 23:14] ahaus commented on #117
I am using the Upload.addListener function as you mentioned but called only once (e.g. static block) and I get progress events from all uploads.

[code]

[2019-03-26 09:15] BaderSerhan commented on #85
Hi guys, I am facing the same issue consistently throughout my app. If I upload relatively large videos or multiple videos at once and so on... Did you manage to find a solution and make it work? Any help would be appreciated!

[2019-03-26 09:22] BaderSerhan commented on #92
same...

[2019-03-26 14:07] L-Yeiser commented on #85
We never did. We switched libraries and are forcing uploads when the app is active for the time being. We have some tech time scheduled to circle back to the issue in the next month.

[2019-03-26 14:09] BaderSerhan commented on #85
Thank you for taking the time to reply to me, I appreciate it. I think I figured out a way to allow multiple video uploads at the same time (it is only allowing 2 and failing on the 3rd). I am testing it and trying to fix other issues before I submit a PR.

[2019-03-26 14:37] L-Yeiser commented on #85
That would be amazing. Let me know if you want me to test a fork.

[2019-03-28 13:19] BaderSerhan opened #134 "[iOS] Uploading multiple videos: all videos get stuck if one video errors"
If I'm uploading multiple videos at the same time and a certain video errors out, all the other videos either restart their progress or lose the progress completely, causing them to get stuck. I'm on the latest release `5.0.1` of this library and on `react-native: 0.57.8`. I don't know how one video's error relates to other videos.

[2019-03-29 08:32] dmarkowski commented on #129
Same problem on Android here. None of the listeners (progress, error, canceled completed) are called. It happens very often.

[2019-03-31 22:30] emilemoureau commented on #134
I have the same problem with rn 0.59.1!

[2019-04-03 03:39] shakibbzillow opened #136 "support non rest endpoints"
Hi,

We are using apollo graphql and are uploading this to it, but apollo graphql doesn't sene 200 when there is an error, it returns a 200 w/ a response that contains the error.

Is there any plans on supporting non-rest endpoints?

[2019-04-03 14:56] TSMMark commented on #136
Hi there are no plans right now but graphql is just http with a specific payload so it shouldn't be too hard to implement I imagine if you wanted to take a stab at it.

[2019-04-03 14:56] #136 closed

[2019-04-06 22:46] ZORenoAcct commented on #67
Hi @StevePotter I believe if this is a rest based client, any non-200 should throw an error event and not completed.

[2019-04-08 15:00] StevePotter commented on #131
You can always use url query params (modify the url) or add additional headers.

[2019-04-08 15:00] #131 closed

[2019-04-08 16:37] StevePotter commented on #129
This is tough.  I updated the android background upload service to the latest version.  When I tried to use it, I got a bunch of errors.  Turns out that upgrading to the newest service requires that the app use AndroidX libraries.  Apparently React Native is behind the ball on AndroidX.

As far as I know, the upgrade is not possible until React Native adopts AndroidX.  If someone else can voluntee

[2019-04-08 17:00] Golddragon0614 commented on #63
I have same issue.

[2019-04-10 15:36] peacepostman opened #137 "Upload fail on android"
### Description

Hello, we are having issues regarding upload on android. We use the library **react-native-image-crop-picker** to select files.

Everything is working fine on ios but android doesn't want to upload the media. We were previously using **react-native-image-picker** and we faced a similar issue with "Unsupported Scheme", which was resolved by calling path instead or uri, on the uploa

[2019-04-11 00:10] delia-m opened #139 "[Question] Remove notification manually after upload completed"
Hi. I am using this awesome module for my project and it works perfectly.
I just have a question about how to remove upload notification which is completed.
I tried `cancelUpload` with `customUploadId` but it doesn't set the notification to cancel maybe it's already completed.
Is there any way to remove it manually?

[2019-04-11 08:02] jonathangreco commented on #85
@L-Yeiser

Hi by switch you means what library did you use ? Is this library can handle large file upload ?

Thanks for your reply

[2019-04-12 08:55] peacepostman commented on #137
The problem was caused by a certificate error on our server. Nevertheless i am now facing the issue with the listener not triggered 😞

[2019-04-12 11:50] #137 closed

[2019-04-12 16:28] AugustoAleGon commented on #137
@peacepostman How did you handle the problem? Because in Android I try to upload or find the information of the file with `Upload.getFileInfo(path)` and returns false. I wanna know what did you do?

[2019-04-18 05:29] Shervanator commented on #122
I'm still having this issue in Debug mode, did anyone have any clues/ideas? Other projects have also had this issue: https://github.com/WebEngage/react-native-webengage/issues/1

[2019-04-18 06:07] dcurletti commented on #67
bump. agree that `4xx` and `5xx` responses shouldn't trigger `completed`.

[2019-04-18 07:48] BaderSerhan commented on #122
@Shervanator Do you have firebase integrated? Because it seems to be an issue with the method `swizzling`. Try removing `Firebase/Performance` and see if it persists.

[2019-04-18 07:56] Shervanator commented on #122
yep! firebase performance analytics is definitely causing the issues. I have removed it for the moment, but it is a super common library, so it would be cool to figure out why its not working as well!

[2019-04-18 08:06] shahchaitanya commented on #67
Here i temporarily fixed solution. OnCompleted listener gives data which contains response code. I checked whether is it 4xx and 5xx or not.

[2019-04-22 10:51] OPY-bbt opened #141 "[iOS] upload photo fail"
I want to upload photo which come from CameraRoll.getPhotos. However, uri don't support ph:// schema?

[2019-04-22 16:31] TSMMark commented on #141
Correct

[2019-04-22 16:31] #141 closed

[2019-04-23 01:08] dcurletti opened #143 "[Android] Get path from expo URI"
This is related to #115 .

I am using `FileSystem` from the `expo` package to allow a user to pick a media file, and I would like to upload said file to s3.

ios is working fine, but android fails because I'm passing it the URI rather than the path.

Any suggestions or packages that I could import to make this easier?  Thanks!

[2019-04-23 08:16] assaqqaf commented on #141
Any idea how to upload `ph://` uri through the package?

[2019-04-23 09:46] reime005 commented on #113
could this be related to a low upload socket timeout?

[2019-04-24 19:07] TSMMark commented on #141
Is there a way to convert the `ph://` protocol to `file://` ?

[2019-05-01 21:31] defualt commented on #55
I too was getting the `MaxPostPreDataLengthExceeded` error when trying to upload to S3.  I solved this by changing the `field` option to `"file"`.

From:

[code]

to

[code]

Thanks to a [comment from 2008](https://forums.aws.amazon.com/message.jspa?messageID=77190#jive-message-77198)

[2019-05-06 21:14] pribeh commented on #122
same here. removing firebase performance resolves the issue

[2019-05-08 02:41] tommysusanto commented on #92
Same here... still a problem

[2019-05-08 12:34] cristianocca opened #144 "Difference between using a foreground task + fetch?"
On Android, is this any different than using a Foreground task (i.e., service with notification badge), and have that service run a headless task (which in turns uses JS fetch)?

I'm asking because this is what I have right now for a "Queue" upload system, which basically grabs pictures and videos from a queue and uploads them periodically. Fetch doesn't seem to load big files into memory, and mul

[2019-05-10 06:17] adityasonel commented on #81
Hey guys,

In my case, I don't have to add service in the AndroidManifest.xml. File is correctly uploading but the react-native events is just hunted up on some point and then I don't know what is happening?

For example, I tried to upload 3MB picture multiple times sometimes it upload and I am getting event on react-native side. But sometimes events is just hanging up no call-backs for progress o

[2019-05-11 23:10] EJohnF commented on #81
I ended up with moving to pure XMLHttpRequest which works quite well

[2019-05-24 18:00] peterent commented on #59
Using APK 28. After searching and searching I finally found this thread. I turned notification off. Now the app doesn't crash. Instead, it throws this error:
"Android Oreo requires a notification configuration for the service to run. https://developer.android.com/reference/android/content/Context.html#startForegroundService(android.content.Intent)"

[2019-05-24 20:54] masoudsadeghiDev commented on #144
this is my question too ??

[2019-05-29 12:42] princesust commented on #55
Hi @defualt , Could you please provide the detail options parameters?

[2019-05-29 20:30] defualt commented on #55
[code]

[2019-05-30 20:28] narehart opened #146 "Share Extension Support"
When trying to use this package in a share extension I'm encountering this error:
[code]
I don't know enough about Objective-C to really diagnose this issue but I think it might have something to do with the utility method used to copy the PHAsset to the temp directory. Let me know if you need anymore info.

[2019-06-02 19:21] dwilt opened #147 "Typescript Definition"
Hey guys, I wanted to contribute some TypeScript definitions that we used in our project. I tried to do the best I could to infer from the `index.js` how to best set this up. Would you mind reviewing so I can publish to [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped)

[code]

[2019-06-14 13:02] sraka1 commented on #9
@StevePotter why was this closed?

[2019-06-18 18:31] shivam4ukhandelwal commented on #123
Hi how to upgrade and fix this AndroidX issue on React-Native

[2019-06-18 22:30] paruckerr commented on #123
[code]
Someone have this issue too? This happen after I set this params in gradle.properties

[code]

[code]

[2019-06-19 11:56] anilios commented on #123
facing same issue...
![Screenshot 2019-06-19 at 5 25 34 PM](https://user-images.githubusercontent.com/694814/59763469-4b35d380-92b7-11e9-8cb1-176642378cf5.png)

[2019-06-19 16:06] swiety85 commented on #123
Exchange it with `import androidx.annotation.Nullable;` inside the npm module.
Additionally, you should apply the changes from #125.
Off course you should not disable notification for Android 9, because it's forced to have the notification for this version of Android. Therefore the following config will not work:
[code]
Personally I just remove `notification` entry.

Good luck! :)

PS. @gotev When

[2019-06-19 18:37] gotev commented on #123
@swiety85 which PR?

[2019-06-19 21:14] swiety85 commented on #123
Sorry, the question about PR #125 merging time is for @StevePotter.
I think exchanging dep to `import androidx.annotation.Nullable;` in UploaderModule.java should be good enough to merge the #125. I tested these changes in my project and it works without any issues.

[2019-06-24 19:00] sanderpick commented on #129
I came across this while working on another library that includes @gotev's excellent upload library. FYI, I was only ever able to receive broadcast events within our library after forking and removing this one line that sets the broadcast's intent package, even though the action is correct: https://github.com/textileio/android-upload-service/commit/bca1d1af94b351be2d79bf9caa9b95c9a83c5d3c#diff-1fb

[2019-06-24 20:44] gotev commented on #129
@sanderpick seen your modification. It's strange that to make it work you have to remove that line. It's the way the Android system knows it's your app sending those events. Does RN mess with package namespace in some way, which makes that patch necessary? In that way you end up forking my library and lose the advantage of automatic updates when I release a new version.

[2019-06-25 00:38] sanderpick commented on #129
@gotev my only thought is that the package comparison happens with the top-level package. Our library's package is `io.textile.textile`, but the demo app that uses our library in the same repo is `io.textile.textileexample`. Similarity, users of our lib would have a difference package.

Do you know of any other libraries that wrap your library? My hunch is that this was never noticed in this (http

[2019-06-25 05:21] gotev commented on #129
@sanderpick the right thing in case of a wrap is to allow your library users to specify the package name and inject it into my library. All the other approaches are workarounds which can lead to unexpected behavior and errors

[2019-06-25 08:26] devdeepakrathod commented on #90
Hello friends,
These is my very first contribution while using these package i had same problem and also had problem with notification which was not showing cancel action so i have added these two features (android only).
Please follow the link below:
https://github.com/devdeepakrathod/react-native-background-upload

[2019-07-03 15:42] TheJackTenor opened #148 "App Crash on React Native 0.59.0"
When my app starting to fired this libs, it just get force close

When i see at logcat, the error appears like this :

[code]

[2019-07-05 14:39] TSMMark commented on #148
Looks like the error explains itself, that it ran out of space:

[code]

[2019-07-05 14:39] #148 closed

[2019-07-09 13:58] husnain-crewlogix opened #149 "How this library support if the size of file is too large and how we menage to create a chunk if possible?"

[2019-07-09 20:06] TSMMark commented on #149
https://github.com/Vydia/react-native-background-upload/search?q=chunk&type=Issues

https://github.com/Vydia/react-native-background-upload/search?q=size&unscoped_q=size&type=Issues

[2019-07-09 20:06] #149 closed

[2019-07-12 18:19] cristianoccazinsp opened #150 "Still maintained?"
Seems abandoned, any news?

[2019-07-12 19:04] cristianoccazinsp opened #151 "ndk abi filters?"
Any reason you need this?

https://github.com/Vydia/react-native-background-upload/blob/master/android/build.gradle#L25

This is really different from the configuration provided by react native, and might limit the devices you can target by just using this library.

[2019-07-12 20:12] TSMMark commented on #151
I'm not sure but feel free to test and submit a PR with your results.

[2019-07-12 20:12] TSMMark commented on #150
Yep

[2019-07-12 20:12] #150 closed

[2019-07-12 22:20] cristianoccazinsp commented on #53
Trying to debug this as well, but large files don't seem to be uploading successfully.

[2019-07-13 20:39] cristianoccazinsp opened #152 "Possible race condition with events"
The code samples hint that you should first await startUpload to get the id, and then add the listeners. However, if for some reason the upload fails right away (e.g., file is too large), the error events will not fire for that specific ID (because the listener wasn't added yet). So in this case you will never know if the request failed or not.

[2019-07-13 21:45] cristianoccazinsp opened #153 "Consider using NativeEventEmitter instead of DeviceEventEmitter"
Any reason DeviceEventEmitter is being used? I've been testing using the recommended NativeEventEmitter and it seems to work fine.
https://facebook.github.io/react-native/docs/native-modules-ios#sending-events-to-javascript

Might also want to consider the following optimization from the docs:
https://facebook.github.io/react-native/docs/native-modules-ios#optimizing-for-zero-listeners

[2019-07-15 05:44] nonotest opened #154 "Possible crash RN 0.59.10"
Hi guys,

just saw this crash report - wondering if anyone has experienced this / any idea on how to solve..

[code]

[code]

Device: Samsung SM-G955F with Android 9

cant provide more details if needed.

[2019-07-15 15:02] TSMMark commented on #152
Thanks for reporting this issue. Is this a problem with the code samples and there is a workaround, or it's an API issue? When the upload fails right away is an exception raised or does it fail silently?

Do you have any thoughts about a potential solution?

[2019-07-15 15:07] cristianoccazinsp commented on #152
Hi Mark,

I've been doing a lot of updates to fit some requirements of my project
under my own repo, I've mostly removed android support (not needed and just
increases the apk size) and added some more functions to increase
background execution time and query the remaining time.

For the race condition, my "fix" was just to add a delay to
"_sendEventWithName" so it gives time for event listeners t

[2019-07-15 16:50] TSMMark commented on #152
No problem, I appreciate you taking the time to report these issues even tho it sounds like you have solved many of them in your fork.

Sounds like we just need a simple `defer` / `setTimeout(..., 0)` to allow the current call stack conclude before triggering the event. Should be easy enough — would accept a PR.

[2019-07-16 23:40] cristianoccazinsp opened #155 "[IOS Question] uploadTaskWithStreamedRequest"
Trying to figure out why some uploads fail when they are just a bit large (e.g., 20-25mb). Didn't find the answer, but the following docs brought my attention:

https://developer.apple.com/documentation/foundation/nsurlsession/1410934-uploadtaskwithstreamedrequest?language=objc

[code]

Current code: https://github.com/Vydia/react-native-background-upload/blob/master/ios/VydiaRNFileUploader.m#L200

[2019-07-17 11:04] zavin27 commented on #85
any progress on the fix?
I'm still getting "unknown error" when trying to upload a video that has more than 100mb on iOS.

[2019-07-17 18:07] TSMMark commented on #85
What do you guys think of what @cristianoccazinsp pointed out in #155?

[2019-07-17 18:11] cristianoccazinsp commented on #155
So after testing, it seems like ```uploadTaskWithRequest``` won't work when using background sessions. Still no idea why ```uploadTaskWithStreamedRequest``` works (at least with small files), but if we were to upload large multipart requests, it looks like the only way would be to write the multipart request body to a temp file, and use the upload file option instead.

[2019-07-23 08:03] oded-regev commented on #155
From what I see `uploadTaskWithStreamedRequest` does work (as expected), it's just that Apple documentation is very misleading...

In https://developer.apple.com/documentation/foundation/nsurlsession/1410934-uploadtaskwithstreamedrequest?language=objc

In https://developer.apple.com/documentation/foundation/nsurlsessiontaskdelegate/1410001-urlsession?language=objc

You don’t need to implement this

[2019-07-23 13:49] cristianoccazinsp commented on #155
Interesting, but what about this?
https://developer.apple.com/documentation/foundation/url_loading_system/downloading_files_in_the_background?language=objc

[code]
I can't tell if app exits is the same as suspension in this case or not. I know for sure that data tasks will not even start with a background session.

[2019-07-23 18:55] mzdon commented on #85
I was having some issues on iOS and ended up forking the repo and messing around with it to try and get it working... take whatever I'm about to say with a big grain of salt because this is literally the first time I've ever looked at Objective-C code and I'm 7 months into my first React-Native project.

The uploader uses uploadTaskWithRequest:fromFile to create the session task.  Background sessi

[2019-07-24 11:13] APZelos opened #156 "Is this repository still active?"
First of all, I would like to thanks everyone involved in this repository but seems like not much going one in the last months. When we tried to update the react-native version in our project we faced some issues with the latest version of react-native-background-upload.

To resolve these issues I forked this repo and I've started merging pull requests and fixing some issues.

Should I continue wo

[2019-07-26 09:25] karanpratapsingh commented on #156
Thank you for your contributions, I think you should definitely continue working on your fork and contact this repo's author to make you a collaborator or add a note in this repo's readme to refer to your fork for newer versions

[2019-07-26 11:59] karanpratapsingh commented on #154
did you find a solution? I also have a similar issue on android 9

[2019-07-26 14:56] TSMMark commented on #156
PRs more than welcome, I would happily add you to as a contributor @APZelos

[2019-07-26 14:58] karanpratapsingh commented on #156
@TSMMark Awesome, @APZelos please don't delete your forked repo, I am using it in a prod app now 😅

[2019-07-29 12:21] nachumFreedman commented on #81
This is some sort of joke right?

[2019-07-30 11:00] nachumFreedman opened #157 "Large files upload but don't tell the bridge"
It doesn't tell the bridge that it's completed, uploading super large files (100mb)

this bug only happens on android.

[2019-07-31 21:00] EliSadaka opened #158 "[Android] Add setUtf8Charset param"
android-upload-service has a `setUtf8Charset()` method that can be called on multipart uploads to use the UTF-8 charset. Without this set, `parameters` fields with high Unicode characters such as emojis are replaced with question marks. It would be nice if a `setUtf8Charset` parameter was added to the options so that this can be set when needed.

[2019-08-01 06:28] karanpratapsingh opened #159 "Immediate crash on android P and Q"
Calling the Upload.start(...) causes immediate crash on devices with android p and q

Any help would be appreciated

[2019-08-01 12:44] peacepostman commented on #154
Hello guys, not sure if it is related but i think we successfully avoid this error by adding new permission in android :

`<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />`

[2019-08-01 12:48] karanpratapsingh commented on #159
just add the following permissions on android

[code]

[2019-08-01 13:01] karanpratapsingh commented on #154
@peacepostman Thanks a lot, I also just figured this out 20 mins ago, AWESOME

[2019-08-01 15:06] TSMMark commented on #159
Thanks for reporting. Is there a gap in our documentation? Please feel free to submit a PR to update any missing documentation, I will merge it.

[2019-08-01 15:58] karanpratapsingh commented on #159
@TSMMark I'll send it soon, thanks. Btw awesome work on this package, tho you should consider looking at @APZelos fork, it has much better support

[2019-08-01 18:19] TSMMark commented on #159
Hi @apzelos would you consider submitting a PR to merge your changes into the main repo? I could make you a project collaborator to assist in any further changes you'd like to see included

[2019-08-03 02:30] dcurletti opened #160 "Queuing of requests"
Hi there- curious if this library has a queuing system in place to limit the number of simultaneous api calls?

ie. If you invoke `Upload.startUpload(options).then()` X number of times, what would occur?

[2019-08-03 03:02] TSMMark commented on #160
I believe they will upload in parallel, but it's worth testing. A queueing system sounds like something people would like so I'll keep this open with `help wanted`

[2019-08-05 22:39] dcurletti commented on #160
@TSMMark ios and android only allow for a certain number of concurrent requests to be made, is that correct?

From this documentation, it seems to be implying 6 for ios: https://developer.apple.com/documentation/foundation/nsurlsessionconfiguration/1407597-httpmaximumconnectionsperhost?language=objc

[2019-08-06 16:31] maxschmeling commented on #147
`addListener` returns an `EventSubscription`

[2019-08-06 19:53] maxschmeling opened #161 "startUpload calls reject twice if copyAssetToFile fails"
When attempting to `startUpload` with a `assets-library` file, if `copyAssetToFile` fails, `reject` is called two times.

It is first called in the `copyAssetToFile` completion handler: https://github.com/Vydia/react-native-background-upload/blob/a4f2fa45003fcf01bec75324aafd5ee472365b26/ios/VydiaRNFileUploader.m#L182

And then again in the `catch` after the continued attempt to upload directly fro

[2019-08-09 11:46] #159 closed

[2019-08-09 12:59] APZelos commented on #156
@TSMMark I am more than happy to create a pull request with the changes I made! I will look into it as soon as I can

@karanpratapsingh I will leave it for now as I am also using it in a production app but it would be better if we come back to using this repo as soon as the pull requests are merged

[2019-08-12 07:23] iJimmyWei commented on #115
The examples given should be updated to reflect this with @fannaoshaoxiang's fix as a temporary bandage.

The root cause is directly due to https://github.com/gotev/android-upload-service/blob/master/uploadservice/src/main/java/net/gotev/uploadservice/schemehandlers/SchemeHandlerFactory.java `    private SchemeHandlerFactory() {
        handlers.put("/", FileSchemeHandler.class);
        handlers.

[2019-08-12 18:41] quarryman commented on #154
Hi
Can you guys tell what app behavior do you see once you face this kind of crush? Is app closed?

[2019-08-12 19:09] quarryman commented on #154
UPD: Before I implemented this I had upload forcing my app to go to background mode in favour of upload service popup and app crush soon.

[2019-08-13 08:54] vmary2014 commented on #154
@quarryman I came across this issue too, the solution provided by @peacepostman worked for me as well. Essentially the app crashes but there are notifications of the service trying to upload the pictures without progressing.
My device is on Android 9 - P20 Huawei phone.
Hope this helps and thanks @peacepostman for the solution.

[2019-08-14 21:00] chasms commented on #154
Duplicated here: https://github.com/Vydia/react-native-background-upload/issues/159

[2019-08-15 09:04] gotev opened #162 "Android Upload Service 4"
Hi there, this is to let you know where Android Upload Service is going. Started working on version 4 with Android 10 (Q) support. Many things needs to be changed for the better, but this will require some rework also on your side. Mainly I saw you use the delegates, which are weak and not recommended, apart for very simple usage scenarios where the user does not abandon the activity in any way. S

[2019-08-19 05:10] khodarahmi commented on #84
I've same issue (only on android 8+) and above workaround could not solve mine. Has anybody other suggestion?

[code]

[2019-08-20 18:41] bcgilliom commented on #64
There still seems to be that step 2. Almost got me!

[2019-08-22 08:09] Diwei-Chen opened #164 "Support of Android 8.1 and above"
Followed the solution as proposed in https://github.com/Vydia/react-native-background-upload/issues/59

After turning off the notification setting, now Android is throwing:
[code]

The `targetSdkVersion ` in our `android/app/build.gradle` is 27 and `compileSdkVersion` is 28.

We found some solutions on stack overflow https://stackoverflow.com/questions/47531742/startforeground-fail-after-upgrade-t

[2019-08-22 22:18] dcurletti commented on #160
i believe on android the requests [are being queued by the package android-upload-service](https://github.com/gotev/android-upload-service/wiki/Recipes#-tune-the-number-of-parallel-uploads).

[2019-08-27 09:36] quarryman commented on #154
@vmary2014 If your app stop receiving events from uploader, this might be another known issue
https://github.com/Vydia/react-native-background-upload/issues/129
There is fork proposed, that solved it for me

[2019-08-29 11:07] jsancho commented on #129
We've been using the component in our app and noticed that the events were indeed not triggered.
We are running RN 0.60.4 which comes with AndroidX support out of the box.

We've applied the changes on this fork and that seems to do the job for now, but can't help the feeling that this is not an ideal way to move forward.

@gotev Could you shed some light on what your plans are regarding this issu

[2019-08-29 11:11] gotev commented on #129
As pointed out in https://github.com/Vydia/react-native-background-upload/issues/162 the source of all those problems is the delegates being used in the wrapping RN code. Actually it's not a problem of the upload library itself, but how it's wrapped.

[2019-08-29 11:54] jsancho commented on #129
Oh I think finally get it.

Please correct me if I'm wrong, my understanding is that react-native-background-upload has a dependency on your [Android upload service](https://github.com/gotev/android-upload-service) library.

So rather than expecting a fix for the current version of this component, this will be much easier to solve once the internal library has been upgraded [as per your plan](http

[2019-08-29 14:24] quarryman opened #165 "enableRingTone: false in options object doesnt mute upload progress notification sounds"
Hello.
Given I have next options for Android 'notification' key
[code]
I am still getting sound for every progress percentage update event (up to 15 times per single upload)
I am using Samsung Galaxy S10 device.

Expected behavior is that I am able to mute sound for notifications

[2019-08-30 05:19] gotev commented on #129
Yes.

* Currently react-native-background-upload uses the delegates, which are the least recommended way and have many limitations, so to use broadcast receivers a rework is necessary
* Upload Service 4 will be out soon with many improvements. Delegates are going to be dropped. and react-native-background-upload will need some rework.

So the better IMHO is to wait a little bit and land directly o

[2019-08-30 07:42] Zabi-Progton opened #166 "Upload does not fail in iOS, why?"
When I turn off the internet and turn it back on the upload resumes and the addListener for '**completed**' is still running in the background. And _**the code continues to execute in that listener in the background**_ which I don't want because I have an HOC that refetches my data and gives a chance to upload again, is there any way to remove that addListener?  or to cancel the ongoing upload whe

[2019-09-01 14:21] quarryman opened #167 "Upload notification disabling in potions leads to progress/completed/error listeners not being invoked"
Hello.
Once I disable notifications like this during upload
`options: {
    notification: {
       enabled: false
   }
 }`
all upload listeners stop being invoked.

Enabling notifications immediately make it work again

[2019-09-13 06:55] morgenhaar commented on #158
https://github.com/Vydia/react-native-background-upload/pull/168
I've tried :)

[2019-09-13 07:53] Zabi-Progton opened #169 "I had updated the targetSdkVersion in my build gradle to 28 and the library just keeps crashing my app."
Why is this happening, and what is the workaround for this can someone please assist or fix this issue.

[2019-09-18 19:32] bcutler94 commented on #169
same here

[2019-09-19 23:21] teeolendo commented on #169
I had the same issue. Had to change the build.grade file in my node_modules folder. The steps are:

1. Go to your ~node_modules/react-native-background-upload/android/build.gradle
2. change minSdk version to 18
3. Change the dependencies for the uploadservice from 3.4.2 to 3.5.0
4. Run react-native run-android

You have to repeat these steps everytime you run npm/yarn. I haven't had time to find a

[2019-09-20 12:49] ahaus commented on #81
To get upload events I had to use the Notification Object and set enabled=true for Android >= 8. (Still on version 4.4.0, RN 0.59.10).
...
`this.notificationEnabled = Platform.OS != 'ios' && Platform.Version >25; // 26: 8.0, 27: 8.1`

[2019-09-22 19:25] wilashishjain opened #170 "Progress Event is not working on iOS."
Progress Event is not working on iOS. Progress event will be fire only single time when progress value is 100.

[2019-09-23 01:47] wilashishjain commented on #117
i am also facing the same issue

[2019-09-24 15:00] TSMMark commented on #169
@Zabi-Progton @bcutler94 thanks for reporting the issue.

@teeolendo Much appreciated for posting that solution. PR would be welcome if you have time to submit one!

[2019-09-24 18:22] teeolendo commented on #169
Submitted!

[2019-09-29 14:55] gotev commented on #129
Upload Service 4.0.0 Alpha 01, 100% Kotlin with Android 10 support is here for developer preview! [Check this issue for more information](https://github.com/gotev/android-upload-service/issues/462)

[2019-09-30 20:13] hayridurmaz commented on #115
it is the opposite working for me? what the hell?

[2019-10-01 15:15] TSMMark commented on #169
@Zabi-Progton and @bcutler94 if you get a chance please test out @teeolendo's branch and let us know if that solved your problem.

[2019-10-08 19:35] kdawgwilk commented on #147
`startUpload` returns a `Promise<string>` with the uploadId if I am not mistaken

[2019-10-08 19:40] kdawgwilk commented on #147
Also missing:
[code]

[2019-10-08 22:42] dwilt commented on #147
@maxschmeling how could the `uploadId` be `null`? [The way the Usage section looks](https://github.com/Vydia/react-native-background-upload#usage), it would seem that all of the events you can add a listener for (`EventType`) require an `uploadId`, no?

[2019-10-16 06:56] xHeinrich opened #172 "Uploading large files causes memory leak?"
Uploading a large file on ios via multipart causes a memory leak which causes the background process to crash. Uploading via octetstream causes excessive CPU due to the onprogress event firing too quickly.

[2019-10-16 14:23] NicholasIoanJones opened #173 "android.support.annotation does not exist"
When building with RN 0.61.2 we are getting a build error that package android.support.annotation doest not exist
This seems to be an AndroidX support thing and if I change the import in UploaderModule to
import androidx.annotation.Nullable;

then it builds again.
1) Am I misunderstanding the problem though and
2) Will this be changed in the project or should I patch?

[2019-10-17 12:17] anagovitsyn commented on #129
So, how can I disable updating UploaderModule.java with each app build? I replaced it with a fixed version, but upon each app build original buggy UploaderModule.java replaces fixed version.

[2019-10-18 14:10] Wilson-Lim opened #176 "chinese characters will turn to ???"
How do i upload file with chinese file name and other parameters with chinese character inputs.
it always ended up as ??? on server side.

While uploading with postman works on the same end point

Please help

[2019-10-20 13:31] gotev commented on #129
Upload Service 4.0.0 completed its first Alpha 01 stage. Alpha 02 here with ready to test delegates replacement. [Check this issue for more information](https://github.com/gotev/android-upload-service/issues/463)

[2019-10-21 15:08] rdgomt opened #177 "Uploading images and JSON"
Hey guys,

It is not an issue, so sorry if it is not the right place, but I am kind of lost.

I need to upload a group of images (like 3-4) which are related to each other. Then, if successful, make a POST to another route with normal JSON body. Question is: can I do this with this library?

[2019-10-28 21:39] #156 closed

[2019-11-06 10:45] anagovitsyn commented on #129
package replaced with original files only when adding new packages through yarn add or npm install, so I was wrong saying that it was replaced each time with app build.

[2019-11-06 12:30] vaibhgupta09 opened #178 "i want to upload 40k images in background"
the problem is when i upload image up to 40k image from my iphone
the process upload is stop after 75 image
why it is so

[2019-11-06 21:33] reime005 commented on #178
40000 single images? can you share some code?

[2019-11-07 13:30] NicholasIoanJones commented on #164
We are having the same issue. @Diwei-Chen did you solve this satisfactorily? Could you share how?

Maintainers - would be good to include instructions for configuring this in Android > 8.1

[2019-11-07 14:53] reime005 commented on #164
AFAIK it should be enough to enable the notification, by setting `
options: {
  notification: {
          enabled: true
... }
` when doing an upload

[2019-11-07 23:45] Diwei-Chen commented on #164
@NicholasIoanJones I am sorry to tell but without enough knowledge to help improve the Android code, we ended up with replacing this package with the `fetch` method in `rn-fetch-blob` in the sacrifice of background upload capability on Android.

[2019-11-10 03:41] augustosamame commented on #177
Sure you can. This library does not support multiple uploads but you can initiate 4 uploads, which will each resolve to a promise. Once all promises 4 have resolved with no error you can send the POST wherever you wish.

[2019-11-13 19:15] osrl commented on #129
In the master branch of this library broadcast receivers are implemented. But I think UploadReceiver should be registered in a Service, and this service should be started foreground. Am I wrong?

[2019-11-14 00:36] NicholasIoanJones commented on #129
I'm pretty new to Android but I'm not sure this is an architectural problem. My upload works sometimes - not often - and fails the rest. This seems to be common from the above.
Generally I see maybe a single progress event and then nothing else in the console (from event handlers in my own code).
I've just put logging into the UploaderModule though and there are more adb events being logged in the

[2019-11-14 10:29] osrl commented on #129
I'm pretty new to React Native and pretty old to Android :) I'm almost sure that UploadReceiver should be registered in a foreground Service. And the Service should be stopped on an appropriate time, maybe after complete event

[2019-11-14 14:57] NicholasIoanJones commented on #129
You may very well be correct, but that doesn't explain to me why I'm seeing events in the UploaderModule which are not hitting the event handlers in my code. Feels like there are a few things going wrong yet this used to work before I upgraded RN -> 0.61 and this library from 4.4 to 5

[2019-11-14 19:08] NicholasIoanJones commented on #129
It seems some event messages dispatched from the Android background service were not getting through to the RN module. Logging in the Android RN code confirmed the issue was between the native service and the RN-B-U and not between RN-B-U and our code.
Jesse's comment provided the solution for us.
This seems a rational solution to the problem and I'm a little surprised this hasn't made it into the

[2019-11-14 21:14] osrl commented on #129
Because it probably causes a memory leak (I didn't test). Also, master branch of this library abandoned UploadStatusDelegate and uses BroadcastReceivers, which is the right way to do this. But It's not released yet I think. Also, as I've said before It registers the BroadcastReceiver in the wrong place. I made some changes and register this BroadcastReceiver from a foreground service and It works

[2019-11-14 22:53] gotev commented on #129
@osrl Upload Service is now on Beta 1 and I strongly recommend you start migrating from the old one, because many issues are now solved, using also Lifecycle aware components. It's the right moment to provide me feedback before I finalize it and to eventually fix some things which may pop up

[2019-11-14 23:15] osrl commented on #129
Is this new on android 9 or 10? By killing I mean "killing by swiping". My foreground service doesn't die when it's killed by swiping.

I've made a pull request by the way. I'm sorry but 4.0 min SDK is 21 and we are not ready to move forward yet :) I hope maintainers of this repo will migrate it. I would be glad to help if they decide to migrate.

[2019-11-14 23:28] gotev commented on #129
If it's killing by swiping then with startForeground (which is done also in upload service), the app context does not get killed, only its activities. If you kill the app from the settings > apps or by tapping app info, then there's nothing you can do unless you have deferred the job to WorkManager.

Regarding minSDK 21, it depends solely on your user base and the type of service you're providing

[2019-11-14 23:47] osrl commented on #129
I totally understand your move. I've checked your 4.0 job, great job by the way. But this and WorkManager is another times job for us. I'm aware of killing from settings thing. That's something we can afford I think.
Also, my fix creates another notification for this service and it looks really ugly. Is there any way to register my `UploadServiceBroadcastReceiver` from `UploadService`?

[2019-11-15 06:10] gotev commented on #129
@osrl no there's not, but you can register that receiver at app level to use app context, which is kept alive while the service is in foreground

[2019-11-15 07:50] osrl commented on #129
@gotev I register it in a new foreground service which creates a new notification. It's killed otherwise.

[2019-11-16 02:27] elgrones commented on #164
I solved my problem adding this  line
`<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />`
in my android manifest

[2019-11-16 16:27] pribeh commented on #166
also interested

[2019-11-20 23:47] Jarred-Sumner commented on #122
[code]

This will disable it if you don't want to remove it just yet. Can stick that code into your AppDelegate.

[2019-11-24 07:43] Wilson-Lim commented on #17
data uploaded with "assets-library://" always ended up as binary format ?

or any idea how I can upload to server as jpg formatted file ?

[2019-11-26 09:23] ahmedurrehman opened #180 "Unable to build with Androidx"
When we add
[code]

in gradle.properties

react-native-background-upload compilation fails

[code]

[code]
2 errors

[2019-12-06 15:42] pribeh commented on #153
bump

[2019-12-09 01:30] patrickleemsantos commented on #180
Just run `npx jetify`

[2019-12-09 04:18] TaiPhamDuc commented on #180
Thanks, it works for me :)

[2019-12-11 12:52] xeroxoid opened #181 "How about a new version?"
It seems that multiple pull requests have been merged but no new version has been released since April. Any ideas?

[2019-12-12 15:13] pribeh commented on #181
Sorry for the bump.

[2019-12-23 20:30] mbarreyro commented on #93
Any solution? I'm having this exact same error for videos of more than 1 minute.

[2019-12-28 23:12] AwanesowArtem commented on #181
Guys any ETA?:)

[2020-01-07 04:26] scarlac commented on #178
@vaibhgupta09 I am currently working on a project to upload multiple smaller images. **iOS will pause your app after 30 seconds**. Even with background uploads.

However, it will resume your app whenever it feels like it. It will wait until something else happens on the phone, like the user checks for notifications, then it will wake up your app and resume the uploads. It happens to save battery.

[2020-01-07 12:17] #177 closed

[2020-01-07 18:27] felri commented on #169
@TSMMark worked for me

[2020-01-28 13:51] rabi-boop commented on #92
+1 same issue

[2020-02-04 20:44] tolik85 opened #185 "Android - Upload progress is stopped when it takes time"
Hello!
I am experiencing an issue on Android that the upload process is stopped randomly, "progress" callback is not called anymore. This happens primarily when uploading a large file which takes time to upload.
I've tried both when my app is in foregound and background.
For small files, when the upload takes about 20 seconds, it works flawlessly.

What could be the reason?

Thanks!

[2020-02-07 09:28] Hamawis commented on #81
Any update on this?

[2020-02-07 09:48] Hamawis commented on #110
@StevePotter will your next release fix complete event firing issue(android)?
Btw events does not fire irrespective of android version.

[2020-02-14 11:17] philsam commented on #129
Apply the above workaround using a temporary patch like this
create a patch folder in your main directory and a file `fix.sh`
`cp ./patch/UploaderModule.java ./node_modules/react-native/Libraries/Image/ImageStylePropTypes.js ./node_modules/react-native-background-upload/android/src/main/java/com/vydia/UploaderModule.java`

add the command to your post-install in package.json
  `"postinstall": "npx

[2020-02-18 19:37] piotrponikowski commented on #181
Any news?

[2020-02-18 19:59] andrejunqueira1 commented on #160
i am  using react-native-queue to control the flow of upload images.

[2020-02-21 04:34] dbirchfield80 commented on #169
I'm running into this same issue with the crashing. Is the current solution still to install the other branch?

[2020-02-21 12:14] felri commented on #169
@dbirchfield80 What I did was I removed the folder from node_modules to my root and made the changes myself, it works normally now but I won't be getting new updates in the future until this bug PR is merged.

[2020-02-21 20:54] JackHull commented on #92
+1 same issue. Running into this on a production build, please follow up this bug immediately.

[2020-03-10 18:08] agentile1990 commented on #152
Has any progress been made on this? I ran into this issue when S3 immediately rejects a PUT when the header signatures do not match. The request fails silently. My (very loose) work around is to register the error listener first. That seems to catch most of the failures.
I'm a JS guy, not a Java guy, but the fix doesn't seem difficult. If it's low priority on the project, maybe I take a stab at th

[2020-03-11 04:48] rahmat-st opened #186 "Upload to Google Drive"
Hello all, I try to upload my file to google drive, but I get the name of files in Google Drive is "Untitled". How do I make the file that I upload matches the name that I want?

[2020-03-16 13:51] JB-CHAUVIN commented on #129
Hello, same issue goes for me....

[2020-03-16 18:53] reime005 commented on #181
@piotrponikowski you may checkout react-native-background-upload@5.3.0-beta.0

[2020-03-16 19:07] AwanesowArtem commented on #181
Thanks for letting us know. Can we find change log for this version somewhere?

[2020-03-17 17:23] ShahidAnjum commented on #185
Same happens to me also for large images in Android. Any fix as of now?

[2020-03-18 00:50] mobtex commented on #185
Same problem here. Any fix as of now?

[2020-03-18 21:20] berkcoker commented on #185
+1 happens for me too

[2020-03-19 13:30] APZelos opened #187 "Null responseBody when upload from ios device"
I try to upload a file from an actual ios device but I get a null responseBody, but when I try to upload from a simulator everything works as expected.

Here is my code:

[code]

[2020-03-25 21:16] #180 closed

[2020-04-02 12:49] mobiedallah opened #189 "upload error"
when  i try to upload audio .path it give a error
E/uploadFile: Source File not exist :/document/raw:/storage/emulated/0/Download/adgam(3).mp3

[2020-04-03 19:55] reime005 commented on #189
try with adding "file://" to the beginning of the path

[2020-04-03 20:38] #173 closed

[2020-04-05 03:50] danlupascu commented on #92
+1 ... I'm having this issue from time to time too and I tried to catch the error, and make another 5 attempts but it throws this error every time.

[2020-04-08 08:08] chuanhaisoft opened #191 "ios upload not work"
rn 0.61.5
on ios ，select a vidio ，then  no upload ，no error，nothing， android is work well

[2020-04-11 06:59] duasfh commented on #185
Hi. Have you tried disable battery optimizing or background restrictions on android?)

[2020-04-30 19:53] miguelocarvajal commented on #165
I am seeing the same issue. This is very annoying to the end user.

Were you able to solve it?

[2020-05-01 19:14] luigbren opened #192 "how do i use this component with my php files on the server?"
is there any possibility to use this component with my php configuration? as I normally use in my application..

[code]

and on my server php I receive the files using $_FILES['file'], How would I go about using this component, any examples?

[2020-05-08 07:34] AliRehman7141 opened #194 "How can I upload multiple file using this"

[2020-05-08 12:34] xubmuajkub opened #195 "Android: Support content:// URI"
I've used the `React Native Document Picker` for picking files to upload to server. It works fine on iOS which the file URI is `file://`, but when it comes to Android which using `content://` URI, there's error thrown `Parameters must be string key/values` (I used `multipart` type).
I was tried using `React-Native-Fetch-Blob` to get the real path of the file, but when I try on upload the file it s

[2020-05-11 03:13] #195 closed

[2020-05-15 09:34] AliRehman7141 commented on #194
I need to upload an image and a pdf file in single API how can I do this using this library

[2020-05-18 14:59] karanpratapsingh opened #196 "Binary uploads?"
how to do binary uploads with PUT? I am trying to replicate.

[code]

I'm using the options

[code]

[2020-06-02 08:53] MR03web commented on #169
Fork and Change the dependencies for the uploadservice from 3.4.2 to 3.5.2
it works...

[2020-06-07 12:05] Palid commented on #146
@narehart did you correctly add all the required informations for share extension too? You need to setup groupID and it needs to be passed down the tree to the `react-native-background-upload`, which it doesn't support it so far. I'll be doing a pull request for that.

[2020-06-09 19:39] #146 closed

[2020-06-15 08:21] bayaroch commented on #108
same question

[2020-06-20 02:42] luigbren opened #199 "How remove the listener events?"
How can I delete the EventListener (Progress, Complete) when they finish their work? Because, I upload a file, when it is completed in the notifications it shows the message "completed" and when I upload another file, it doesn't do anything, it doesn't upload the file, I have to close the application and come back

Returns an EventSubscription. To remove the listener, call remove() on the EventSub

[2020-06-21 10:39] reime005 commented on #199
@luigbren To remove a listener, you would do something like `const listener = Upload.addListener(....)` and then `listener.remove()`. I saw that the TypeScript definitions may not be correct here...

[2020-06-21 14:43] luigbren opened #200 "can i send custom messages? before and during the upload"
hello friends is there any possibility to use this component to display custom messages in the notifications before and during the upload process? example..
will you be able to?
[code]

[2020-06-22 22:15] luigbren opened #201 "Event listener 'completed' in background!! not being called"
if the application is open, everything works very well, in 'progress' it shows the progress log and in the 'complete' event it also works, when it finishes uploading the file it shows the result, that it already uploaded the file.
[code]

but if I send the information and close the application (background mode), if the work continues, the files keep uploading but the 'progress' and 'completed' eve

[2020-07-09 11:16] selvaprogrammer commented on #199
Overwrite the package was the only solution for remove events.
Ex : add this line in packages **index.js** file
export const removeListener = () => {
  return DeviceEventEmitter.removeAllListeners();
};
export default { startUpload, cancelUpload, addListener, getFileInfo, removeListener };
and add these line in **index.d.ts** file
static removeListener(): void;

**Upload.removeListener()**
call th

[2020-07-09 12:57] selvaprogrammer commented on #199
Another solution i have found :
import DeviceEventEmitter in current scene.
Upload.addListener('progress', uploadId, (data) => {
              console.log(`Progress: ${data.progress}%`);
              if (data.progress === 100)
                DeviceEventEmitter.removeCurrentListener();
            });
            Upload.addListener('error', uploadId, (data) => {
              console.log(`Error:

[2020-07-13 08:51] ChrisAudvice opened #204 "There is no 'body' option"
Is there any way to add a 'body' to the upload?
At the moment, the only thing that's close to body I see is an argument called 'parameters' but it only works if the type is 'multipart' so no help at all.

Anyone has any ideea if it's possible or if a 'body' option is planned, there's headers so there should be a way to add a body as well.

[2020-07-16 20:32] joshua-davis-rose commented on #201
I'm pretty sure that's what [this](https://github.com/Vydia/react-native-background-upload/pull/145) PR is trying to solve, which looks like it's making active progress.

[2020-07-17 16:42] jkerb8 commented on #53
Did you guys ever determine how to fix this issue? I'm running into the same problem with video uploads. Unfortunately, dropping the quality below 720p isn't an option for me. I can also confirm that it is not a server-side problem.

[2020-07-17 17:06] cristianoccazinsp commented on #53
I wasn't able to fix it.  The only way around it seems to not use a multipart upload, but rather a plain file upload. This way the file is read directly from the file system on the native side and it doesn't need to be loaded into memory.

[2020-08-01 10:26] FazilMuhammed opened #208 "incorrect parameters entered inside option before upload"
How can l know entered incorrect parameters

[2020-08-04 08:37] SalihZinaty opened #209 "How to get the upload progress for each file during multiple image uploading?"
I'm mapping through images and uploading them from a Realm DB.
when uploading two images, the images upload progress sync to each other instead of running separately.

`Upload.getFileInfo(finalPath).then(metadata => {
                            //console.log('image name of file', image.file_name)
                            Upload.startUpload(options)
                                .then(uploadI

[2020-08-04 10:27] reime005 commented on #209
the `uploadId` should be there to differentiate between uploads

[2020-08-04 10:32] SalihZinaty commented on #209
Can you tell me where to put it?
Because the progress listener is inside the then of uploadId
Thanks!

[2020-08-04 13:41] reime005 commented on #209
can you provide a bigger/formatted example?

[2020-08-13 21:29] #162 closed

[2020-08-14 17:09] #129 closed

[2020-08-14 17:09] #181 closed

[2020-08-20 10:43] FauricioValencia opened #211 "How I can get each chunks of image or any file"
I tried to get a chunks each image, because before to upload each part of image to API I need to convert to base64 and hash MD5 each part.

[2020-08-24 11:47] lucasluca commented on #194
i have the same question

[2020-08-25 17:05] LcsGrz opened #212 "Can't build for android in RN 0.63.2"
When I try to create a build for release or debug, the gradlew returns the following error:

[code]

**Libs**
    "react": "16.13.1",
    "react-native": "0.63.2",
    "react-native-background-upload": "^6.0.0",

[2020-08-26 20:35] gyoung-panopto opened #213 "Support for S3 multipart upload?"
Hi there,

I'm wondering if this module supports uploading with the AWS S3 multipart upload protocol: https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html

I see that "multipart" upload is included in the documentation but I assume this means multipart/form-data encoding rather than the S3 multipart upload protocol.

Thanks for the information!

[2020-08-27 02:45] ivanzhang2 commented on #212
same issue

[2020-08-27 16:07] iamraffe commented on #212
Same issue here

[2020-08-27 20:41] reime005 commented on #212
can you check with the example app? it should work: [example/RNBackgroundExample](https://github.com/Vydia/react-native-background-upload/tree/master/example/RNBackgroundExample)

[2020-08-28 05:28] LcsGrz commented on #212
Hey! Thanks! :D

I added this lines in **android/build.gradle** and now compile :')

[code]

[2020-08-28 05:28] #212 closed

[2020-09-01 21:31] aaronkaz opened #214 "Android notifications will not disable"
This option:

[code]

seems to make no difference whether I toggle `true` or `false`.  I see Silent Notifications (API 29) for all uploads regardless of the value.  Any ideas how to turn these off?

[2020-09-04 05:24] HarshMB opened #215 "Upload error while uploading to s3 bucket"
When i will upload image, it will show progress 0% to 100% after that it will display "Error : Upload error"
I am uploading file like this:

         import Upload from 'react-native-background-upload'
         import { S3Policy } from '../../node_modules/react-native-aws3/src/S3Policy';

         const options = {
                  type: 'multipart',
                  method: 'POST’,

[2020-09-04 11:31] #215 closed

[2020-09-10 16:40] captainamiedi opened #217 "TypeError: null is not an object (evaluating 'NativeModule.startUpload')"
I am trying to upload images but i keep getting `TypeError: null is not an object (evaluating 'NativeModule.startUpload')`
Here is what i have done
[code]
This is the error i am getting
_TypeError: null is not an object (evaluating 'NativeModule.startUpload')
startUpload@http://10.0.2.2:8081/index.bundle?platform=android&dev=true&minify=false:208432:24
_callee2$
tryCatch@http://10.0.2.2:8081/index

[2020-09-11 10:01] reime005 commented on #217
did you rebuild the app? module seems to be unlinked

[2020-09-14 08:20] #217 closed

[2020-09-16 15:12] jpmazza opened #219 "Network Error"
Env:
`"react-native": "^0.61.1"`

Hey! I'm using this library (v 5.7.0) to upload videos. On iOS it's working great, but on Android, it's not working for devices with API 29. I'm pretty sure that it will work if I upgrade to the latest version (6.2.0) but when I tried this I got a Network Error when I did some other axios request (not related to this library). This is super weird I don't know if t

[2020-09-22 21:49] LeoW93 commented on #122
This is still an issue it seems, but @Jarred-Sumner 's fix works nicely - thanks for that!
You can even do:
[code]
so that you don't lose the firebase performance tools for release mode :)

[2020-09-23 01:36] dolphinflow86 commented on #214
Same here. @aaronkaz did you solve this issue?

[2020-10-01 10:12] otusweb commented on #55
If like me you are looking to simply upload to a public bucket, here is the code I used that worked:
[code]

[2020-10-02 11:54] aaronkaz commented on #214
@dolphinflow86 No, I never did.  This wasn't the only big issue I ran into, so I've just abandoned using this package altogether.

[2020-10-02 22:47] reime005 commented on #214
On Android versions >= 8.0 Oreo it is required by Google's policy to display a notification when a background service (such as uploading a file in the background) runs

[2020-10-06 20:51] matamicen opened #220 "FATAL EXCEPTION: OkHttp Dispatcher"
Hi guys,
First of all thanks for this library :)

As soon we installed the latest version of this library **(6.2.0)** the app crashes and the log throws:

[code]

We are using **RN 063.2** and the only library that use okhttp seems to be Flipper, which is installed by default in this RN version but we are not using it, and here is the only code that we found okhttp is in build.gradle:

[code]

Any

[2020-10-07 13:43] reime005 commented on #220
@matamicen can you try with these two additions?
   `implementation 'com.squareup.okhttp3:okhttp:3.2.1'`
and
    `implementation 'com.squareup.okhttp3:okhttp:4.4.1'`

[2020-10-07 15:17] matamicen commented on #220
@reime005 Thanks for your soon answer :)

Where exactly do I have to add implementation 'com.squareup.okhttp3:okhttp:3.2.1' and implementation 'com.squareup.okhttp3:okhttp:4.4.1' ?

Thanks.

[2020-10-07 15:35] reime005 commented on #220
@matamicen to your app's android/app/build.gradle dependencies

[2020-10-07 17:30] matamicen commented on #220
@reime005 good news!

it was a RN thing so nothing wrong with this library, the app was crashing when I call a simple FETCH, so we had to add this to the dependencies and everything is working now, it seems that happens with okhttp above version 4 which is the version that use this library on version above 6.0.0 thru android-upload-service :)

[code]

here is the [link](https://github.com/facebook

[2020-10-07 17:30] #220 closed

[2020-10-07 17:37] matamicen commented on #219
@jpmazza I fixed a similar error happening with a fetch, is a RN issue with the OkHttp android library with version above 4 which v6.2.0 of react-native-background-upload uses , here is the [fix](https://github.com/Vydia/react-native-background-upload/issues/220), hope it helps.

[2020-10-07 17:57] matamicen opened #221 "Write error: ssl=0xc79b92e8: I/O error during system call, Connection reset by peer%"
Hi @reime005 , me again :)

The library is throwing this error on Android (8 & 10 ate least)

` Write error: ssl=0xc79b92e8: I/O error during system call, Connection reset by peer%`

We are with RN 063.2 and wiht react-native-background-upload v.6.2.0

here is the code, we call before this a pre signed API in order to upload to s3 bucket.

[code]

any ideas?

Thnaks!!

[2020-10-07 18:15] matamicen commented on #221
More info: We are trying to upload videos less than 10mb.

[2020-10-07 18:29] matamicen commented on #215
@HarshMB I also have an error to upload to s3 with pre signed function, could you share with me the code that works for you? Thanks!!

[2020-10-07 21:27] matamicen commented on #221
This ssl error was becasue we were sending the AWS data from the Pre Signed Function in HEADER and it has to be placed in PARAMETERS, here the working code, may be help someone, this library is working great to upload to S3 bucket!
 Thanks guys!

[code]

[2020-10-07 21:27] #221 closed

[2020-10-07 21:30] matamicen commented on #215
@HarshMB we fixed that problem changing the pre signed function to allows more fileSize ... I don't if it is your case but it was ours.

[2020-10-10 16:19] rkkb opened #222 "if some one wants to update compile and target sdk version >25,then what to do"
Hello,if some one wants to update compile and target sdk version >25,then what  to

![image](https://user-images.githubusercontent.com/49816877/95659979-78f4fa80-0b42-11eb-8d1a-6c6d0ab75fdc.png)

[2020-10-15 10:11] Nagato717 commented on #221
Hi @matamicen, could you tell me how to get these parameters, the url and the policy please!
I'm using `AWS.S3().getSignedUrlPromise()` to get the url and `Signer.sign()` to get these params but look like it's not working :(. Thank in advance!!

[2020-10-15 13:31] matamicen commented on #221
@Nagato717 this is the code who calls the pre signed API before UPLOAD, we use ApiGateway & Lambda.

[code]

And this is part of the lambda function:

[code]

[2020-10-19 00:03] olegzecamp commented on #214
Same, Notifications show regardless of the notification.enabled parameter value.

[2020-10-29 10:41] olegzecamp opened #224 "Can't complete upload due to 'timeout' and 'Error: Request aborted'"
Hello everyone,
I'm currently testing this library on Android 10 with different types of internet connections, including different distances between server and client and different upload speeds (GPRS, HSCSD).

[code]

When I use a poor internet connection it's unable to complete. The progress riches 57% and then it ends with a 'timeout' error.

My backend on a nodejs looks like this
[code]
On the

[2020-10-29 14:33] SteveTro opened #225 "Can't set Authorization header"
i try to upload files to the google storage json api.
I get the token from a cloud function but when i try to upload the images like this:

`
this.options = {
        customUploadId: _uploadID,
        url: url,
        path: path,
        method: 'POST',
        type: 'raw',

        header: {
          "Authorization": `Bearer ${token}`,
          'content-type': 'application/octet-stream',

[2020-10-30 10:12] imhoze commented on #224
Tried to use another backend, but unfortunately, the result is the same bad.
Usually it riches 100% and then throw 'timeout' error
[code]

[2020-10-30 10:37] reime005 commented on #225
@SteveTro it should be called "headers"

[2020-11-11 05:31] Miti063 commented on #189
@reime005 adding "file://" to the path, it throws an error: Currently supported schemes are [/, content://].
Facing the same issue only on android.

[2020-11-16 16:13] #222 closed

[2020-11-20 09:14] r3r00t3d opened #228 "Reacting to completed event while in background"
Hi,
thanks again for the very useful library that you're supporting. My question is, is there a possibility for a library to react when the process of uploading the file is completed?

Typical scenario would be that the user starts the upload, backgrounds the application, then opens e.g. Chrome and browses the web during which the upload is complete. I'm not sure on how this is even handled since

[2020-11-22 02:36] Cassianosch commented on #189
same here

[2020-11-29 17:03] reime005 commented on #189
@Cassianosch @Miti063 can you tell on which android versions this happens?

[2020-12-01 10:44] hardibhalodiya opened #230 "Getting error after updating targetSDK version"
I have upgrated targetSDK version 28 to 29 but I am getting this Error: java.lang.Class<t.a.a.q.b> cannot be instantiated for file upload in release apk . Please suggest some solution.

[2020-12-07 08:10] florinlazau opened #231 "The package crashes Android app version"
Hello,

I'm developing a cross-platform application and the package is working on IOS but causes app crash on Android. The crash appears when I start the app. I assume that is something with my sdk version :
`        buildToolsVersion = "29.0.3"
        minSdkVersion = 21
        compileSdkVersion = 29
        targetSdkVersion = 29
        supportLibVersion = "28.0.0"
        kotlinVersion = "1.3.

[2020-12-07 08:54] bneigher commented on #214
@reime005 isn't that only the case if you're using the Android File Manager?  It should still be possible to do this with `DOWNLOAD_WITHOUT_NOTIFICATION` permission.  Otherwise we would see even native apps going nuts when we upload files via apps

[2020-12-10 18:31] bneigher commented on #228
I have a job scheduler that runs background tasks.  That way if files fail to upload, they will be uploaded at a later time in the background.  check out https://github.com/transistorsoft/react-native-background-fetch

[2020-12-10 18:33] bneigher commented on #214
Does anyone know how to contribute to the android native code here?  I for the life of me can't figure out where to look to fix this

[2020-12-10 21:01] cretumarius commented on #90
On iOS is crashing from the very beginning. I didn't get to test on Android.

[2020-12-11 12:34] reime005 commented on #214
@bneigher I don't think it is fixable...but the android code is in the /android folder if you mean that

[2020-12-12 07:02] cbracketdash commented on #92
I have not idea what program you guys are talking about, but I am having the same error on Canvas Instructure.

[2020-12-15 17:48] petrbela commented on #213
Yeah multipart/form-data is used when you're `POST`ing a file along with other metadata. (btw this is one of the two option to do a regular S3 upload by `POST`ing to the bucket; the second option is a `PUT` to the key directly).

S3 multipart, or any other chunking protocol, works by splitting the file into multiple chunks which are uploaded separately. The steps are typically:
1. Notify the backe

[2020-12-15 17:50] petrbela commented on #196
That looks correct. What issue do you run into?

[2020-12-15 17:52] petrbela commented on #194
I'm not sure the HTTP protocol even supports uploading multiple files using a single request. However, you should be able to run two separate background uploads.

[2020-12-15 17:54] petrbela commented on #186
That's probably outside the scope of this library but I think you should be able to send a `multipart/form-data` with additional attributes for the file? I'd recommend checking the Google Drive docs on how to do this.

[2020-12-15 18:04] petrbela commented on #231
I can confirm this. Crashes immediately when launching the app. It seems to be related to okhttp but I couldn't figure out how to make it work ([manual linking](https://github.com/Vydia/react-native-background-upload#android-1) didn't help either).

[code]

[2020-12-16 08:27] petrbela commented on #231
btw it doesn't conflict when I downgrade to `5.7.0` (which uses okhttp 3.x, same as React Native, which is still at 3.x because 4.x only works on Android API >=21)

[2020-12-16 08:38] petrbela commented on #143
The issue you linked already provides an answer. (Ideally it should be handled by this library but for now the manual workaround should work.)

I use this code but it does essentially the same things as #115.

[code]

[2020-12-16 08:45] petrbela opened #234 "Maintenance Status?"
First, thanks for work on this library!

Second, it looks like it's not getting as much love as it could. There are a bunch of open issues that could be triaged, a few pull requests that could be merged in, and even some issues that potentially break the whole library, such as https://github.com/Vydia/react-native-background-upload/issues/231

I'm wondering if the maintainers would like additional

[2020-12-16 09:46] petrbela commented on #189
What's the URI string that you pass into the uploader? `:/document/raw:/storage/emulated/0/Download/adgam(3).mp3` doesn't look right.

[2020-12-17 11:15] babitakapoor112 commented on #85
I am getting following error while uploading a video in android
{error: "Upload error", id: "938b77cb-0e6f-4191-87a0-7e50fab0d1b4"}
It is successfully uploading a image file but not video file and below is my code example
const userToken = await AsyncStorage.getItem('accessToken');
        const tokenType = await AsyncStorage.getItem('tokenType');
        const options = {
          url: CONST.API

[2020-12-21 22:24] reime005 commented on #231
@petrbela should be fixed if you add both `implementation 'com.squareup.okhttp3:okhttp:4.3.0` and `implementation 'com.squareup.okhttp3:okhttp:3.X.X` (take the specific version from react-native)

[2020-12-22 09:34] petrbela commented on #231
@reime005 That alone doesn't seem to fix the problem. Is there anything else that needs to tell the library which okhttp version to use?

[2020-12-28 18:00] AliRehman7141 commented on #194
Thanks

[2020-12-28 18:00] #194 closed

[2021-01-12 18:06] maxschmeling commented on #147
Wow, never saw this comment, and this is waaaaay late, but you can pass `null` to listen for *all* events instead of for a specific `uploadId`.

[2021-01-21 03:11] bneigher commented on #234
to the maintainers - loved using this, great api and worked well.  But do to newer build issues and some issues around notifications on android, I've decided to move off the library.  too many stale PRs not worth contributing with inactivity like that.

hope to see it revived or handed off

[2021-01-21 05:02] TSMMark commented on #234
We no longer have any react native projects and can't justify spending business time on this project, so all maintaining is being done by active users from the community, primarily @reime005 who's been doing an amazing job on very limited capacity.

@petrbela and @bneigher are you interested in helping out and being added as maintainers?

[2021-02-04 09:29] rahulnainwal commented on #215
@HarshMB how you solved this issue. @matamicen where is pre signed function, can you please explain it.

[2021-02-04 13:57] matamicen commented on #215
@rahulnainwal check [this](https://github.com/Vydia/react-native-background-upload/issues/221)

Hope it helps :)

[2021-02-04 14:30] rahulnainwal commented on #215
Thank you @matamicen, i am getting this issue because of wrong access key and secret key.

[2021-02-06 17:26] Ovrful commented on #204
Is it possible to upload anything without providing parameter "path". Lets say i just want to upload something that is more than just a single file, for example FormData parameters ?

Thanks.

[2021-02-10 05:19] vp13 opened #236 "Headers are added in file uploaded to Google drive"
File uploaded to google drive with headers. How to prevent headers being added to file.

Sample file uploaded to google drive is as below:

**---------AndroidUploadService70492292904878
Content-Disposition: form-data; name="file"; filename="backup.json"
Content-Type: application/json
{file content}
---------AndroidUploadService70492292904878--**

[2021-02-10 06:15] vp13 commented on #186
I tried to upload to google drive but headers get attached to file I am using below options &POST request of google drive doesnt work

var path = RNFS.DocumentDirectoryPath + '/' + 'backup.txt';
const options = {
    url: `https://www.googleapis.com/upload/drive/v3/files`,
    path:path,
    headers: {
      'Authorization': `Bearer ${googleDriveAccessToken}`,
    },
    useUtf8Charset: true,

[2021-02-18 15:41] mvehar opened #237 "[IOS] - crash on striggering upload"
When I call startUpload in IOS (RN 0.63.4) i get native exception:

libc++abi.dylib: terminating with uncaught exception of type NSException
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'You must override the `supportedEvents` method of fir_7960F02D-FE0F-46DF-BA2D-22F1C17DD6AC_VydiaRNFileUploader'
terminating with uncaught exception of type NSException

[2021-02-19 11:42] mvehar commented on #237
Found this issue, solution with disabling Perf. in debug worked.
https://github.com/Vydia/react-native-background-upload/issues/122

[2021-02-19 13:19] mvehar opened #238 "[ANDROID] Build warnings"
Here are some android build warnings:

w: /Users/..../node_modules/react-native-background-upload/android/src/main/java/com/vydia/RNUploader/GlobalRequestObserverDelegate.kt: (30, 9): Condition 'exception != null' is always 'true'
w: /Users/..../node_modules/react-native-background-upload/android/src/main/java/com/vydia/RNUploader/GlobalRequestObserverDelegate.kt: (58, 66): Parameter 'context' is

[2021-02-19 13:22] mvehar commented on #191
Probably the same issue as #237 ?

[2021-02-23 21:37] kasterlod commented on #92
I've made some tests & looks like it's because of usage `NSURLSessionDataTask *uploadTask;`

**WHY?**

Please take a look at this https://developer.apple.com/documentation/foundation/nsurlsessionuploadtask

<img width="759" alt="Screenshot 2021-02-23 at 22 35 59" src="https://user-images.githubusercontent.com/10712198/108911445-8dd0b700-7627-11eb-8228-576e2206e260.png">

As for me change to `NSURL

[2021-03-01 17:34] lucasluca commented on #224
Im having the same issue here

[2021-03-04 18:40] Shaun1 commented on #191
I'm also seeing this. On Android everything works fine, on iOS the app has to be foregrounded for uploads to work.

[2021-03-04 18:41] Shaun1 commented on #191
It's not crashing so I don't think it's this issue #237

[2021-03-08 07:31] flogy commented on #92
@kasterlod Sounds nice! How is it going with the PR? Really need this as well! Or could you share some code in the meantime? Thanks 🙂

[2021-03-15 07:25] kasterlod commented on #92
hello! Yeah, I'm during tests, I'll prepare PR on days 🙌 stay tuned!

[2021-03-19 06:22] zendevil opened #240 "How to upload multiple files?"
So for as I can see there's only one "path" and only one "field" option in the request map. This means that at most only one file can be sent in the post request. Is there a way to send multiple files in the same request?

[2021-03-24 15:01] pmella16 commented on #92
@kasterlod hi, do you have any date for this fix, thanks

[2021-03-25 15:58] pmella16 commented on #92
@flogy  you tried with Xcode 12.5 beta 3 ?? according to some comments it is a bug that is fixed in the beta version

[2021-03-25 21:37] flogy commented on #92
@pmella16 not sure about this, but probably no, as I never intentionally installed any beta version.

[2021-04-01 19:20] xOIBrandon commented on #154
I'm seeing this same error and I do have the `FOREGROUND_SERVICE` permission set. Does anyone here have any other suggestions? _I'm at a loss_

**Android: v1.1.10
React Native: v0.62.2
React Native Background Upload: v5.1.0**

[code]

[2021-04-07 16:28] rkspeed opened #243 "Cannot read property 'getFileInfo' of undefined in ios react native"
Upload.getFileInfo(param.assest.uri) in the line it's return Cannot read property 'getFileInfo' of undefined
![Screenshot 2021-04-07 at 21 58 26](https://user-images.githubusercontent.com/20368173/113901387-6e16dc00-97ec-11eb-87b9-c516ad3f5c79.png)

[2021-04-12 21:14] xOIBrandon commented on #154
Hey y'all. I tracked this bug down to **android-background-upload**. The maintainer of that library released a new version that we hope will solve this problem. `4.5.3`

[2021-04-23 08:41] siddharth-kt opened #245 "Do we need to -> Customizing Android Build Properties"
As according to Docs we need to set

ext {
    targetSdkVersion = 23
    compileSdkVersion = 23
    buildToolsVersion = '23.0.2'
}

in android/build.gradle

But according to latest react-native version it is by default,

  ext {
      buildToolsVersion = "29.0.2"
      compileSdkVersion = 29
      targetSdkVersion = 29
  }

is it necessary to do these changes or is it optional  ?

[2021-04-30 21:49] Mookiies opened #250 "Failing CI iOS"
The `yarn deploy/release/ios` task fails to build. This causes the Deploy step of the iOS github workflow to fail.

Here is a truncated log. I've created a gist of the full log for the workflow here as the log is too long to view in github workflow ui https://gist.githubusercontent.com/Mookiies/75f853d4cf2110897e67cfeb0e0b2109/raw/9cc713fb4e06bc5108d3b49561d163d72f528cf6/1_react-native-ios.txt

[c

[2021-05-03 22:28] projuljustin opened #251 "Android crash when turning off WiFi during upload (product flavor issue?)"
Hey there, I seem to be having an issue when turning off WiFi during an upload. The app crashes and I get this error:

2021-05-03 15:06:30.092 11885-11885/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.myapp.webview, PID: 11885
    java.lang.RuntimeException: Unable to create service net.gotev.uploadservice.UploadService: java.lang.IllegalArgumentException: You have to set namespace to

[2021-05-05 14:34] Shaun1 commented on #234
Hey @TSMMark, could you consider putting a notice at the top of the README page that the library is currently not being actively maintained and is looking for a new maintainer? This would greatly help people who are considering using this library make an informed decision, as well as maybe speed up finding a new maintainer. Thanks for all your work on this project!

[2021-05-06 19:11] #172 closed

[2021-05-06 21:10] #93 closed

[2021-05-14 20:50] #250 closed

[2021-05-28 14:40] rupal-simform commented on #240
In built support for this feature would be a huge add on.

[2021-06-01 10:15] deepalijagtap opened #260 "react-native-background-upload library does not upload files in background in iOS"
Hi,

We are trying to use the latest version of react-native-background-upload and does not upload the files while the app is in background on iOS 14.0 . Works fine on Android. We tried using the example provided in this github repository. But that fails as well. XCode version used is 12.

Can someone help? Where are we going wrong?

Regards,
Deepali

[2021-06-03 09:47] mmalcek commented on #260
Hi, @deepalijagtap - solution stolen from https://github.com/cristianoccazinsp/react-native-background-upload#ios-background-events

By default, iOS does not wake up your app when uploads are done while your app is not in the foreground. To receive the upload events (error, completed...) while your app is in the background, add the following to your AppDelegate.m:

[code]
This means you can do ext

[2021-06-03 09:51] deepalijagtap commented on #260
Thanks Mario! I wish this PR be merged to the master branch.

[2021-06-08 10:47] ba-ddou commented on #231
I am using RNBU with react-native 0.59 which uses okhttp 3.12.1
Forcing okhttp 3.4.1 in the resolution strategy causes the app to crash every time I try to open it, and here's the crash report:
[code]
Forcing okhttp 3.12.1 in the resolution strategy causes this error when I try to upload a file:
[code]
Do you have any idea about what's going on here ?

[2021-06-08 11:07] ba-ddou commented on #231
I was able to make this work by editing RNBU's  app level build.gradle;
I removed the `okhttp` module exclude directive
[code]

And explicitly added okhttp3.4.1 as a dependency
[code]

I'm wondering if there's a way to force this from my app's level build.gradle file without having edit RNBU's code

[2021-06-13 04:51] Abby9111 opened #264 "Background upload not working in ios"
HiWe are trying to use the latest version of react-native-background-upload and does not upload the files while the app is in background on iOS 14.0 .

[2021-06-13 09:27] Nop0x commented on #237
@mvehar How exactly did you disable it? I cant find the entry in the AppDelegate. Can you maybe post the code you added to your app?

[2021-07-01 13:50] ingbrandon commented on #260
I wish the same

[2021-07-02 15:16] elleryfamilia commented on #260
I'm getting a file not found error for VydiaRNFileUploader.h... any ideas?

[2021-07-05 12:08] sadikyalcin commented on #231
The solution would be to force using the same version. Add the following before `dependencies` declaration in `app/build.gradle`.

[code]

You shouldn't have to be changing the flipper settings in the dependencies.

[2021-07-10 08:33] misag777 commented on #224
+1

[2021-07-10 12:03] misag777 commented on #224
hello i found solution might help you
in node node modules react-native-background-upload/android/src/main/java/.../RnUploader/UploaderMoudule increase connectTimeout var to whatever you want
i did that and now timeout error is gone

[2021-07-10 12:04] misag777 commented on #113
hello i found solution might help you
in node node modules react-native-background-upload/android/src/main/java/.../RnUploader/UploaderMoudule increase connectTimeout var to whatever you want
i did that and now timeout error is gone

[2021-07-16 20:32] siddharth-kt commented on #238
did you got any solution ?

[2021-07-17 02:20] luigbren opened #267 "the app closes automatically when running (Crash)"
I have my application running without problems in RN "0.61.5" and react-native-background-upload: v5.7.0, today I updated my project to the RN version "0.64.2" and updated the react-native-background-upload add-on: v6.2.4, now I have Crash problems in Android when I run the application (previously I did not have those problems), in certain occasions in the console I get this message:

[code]

if I

[2021-07-17 12:50] mvehar commented on #238
Not sure, but Im now using latest RN version (0.64) and probably newer verison of Kotlin. Try removing node-modules and reinstall. Also check in android studio if any of the dependencies in build files can be updated. And then syncrebuild project in Android studio.

[2021-07-17 17:48] luigbren commented on #231
Any other solution? I also have this problem.

```Error: No field Companion of type Lokhttp3/MediaType$Companion; in class Lokhttp3/MediaType; or its superclasses (declaration of 'okhttp3.MediaType'...```

I added this line of code to be able to run my app, since it was giving me an error and closing. (crash)

[code]

[2021-07-18 19:30] siddharth-kt commented on #238
So, this may not cause any problem in production, right ?

[2021-07-20 12:52] PitzTech commented on #231
Fixed the App Closing problem on React Native 0.61.5. Thank you!

[2021-07-20 12:53] adrienfloor commented on #260
Same here @elleryfamilia . Did you find a solution ?

Do we have to install something else ? I've installed the lib with `npm i` and `pod install` , which doesn't look to be a problem considering I'm able to use it without errors. I'm just not able to upload files on iOS while my app is in background, which is why I wanted to use the snippet of code above in AppDelegate.m

Thank you very much in a

[2021-07-20 17:27] elleryfamilia commented on #260
@adrienfloor hm, I think it was just missing that file... I forked it and fixed it. Feel free to try my branch:

https://github.com/glancyinc/react-native-background-upload

You'll need to reference it in your package.json like so:

"react-native-background-upload": "github:glancyinc/react-native-background-upload",

[2021-07-21 06:44] adrienfloor commented on #260
Thank you very much @elleryfamilia , but this is iOS only right ? I still need the android, any advice ? Thanks a lot.

[2021-07-21 08:51] adrienfloor commented on #260
I've tried this, I'm pretty sure it works but I would still have to do more tests. Let me know what you think : https://github.com/adrienfloor/react-native-background-upload
Thanks for the help !

[2021-07-21 17:10] luigbren commented on #231
I was also happy with that solution, by placing those lines does not give error (Crash) to open the application, but in my case does not work, when uploading some content gives an error and does nothing ... no good that solution ... I had uninstall and reinstall RNBU V0.5.7, that version if it works perfec